@{
    ViewBag.Title = "医保入院登记";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<link href="~/Content/js/layui/css/modules/layuiAutocomplete.css" rel="stylesheet" />
<script src="~/script/BenDingComm.js"></script>
<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" id="LAY-form" lay-filter="LAY-form-render">
           
            @{Html.RenderPartial("_CSharpActiveX");}

            <div class="layui-card-header layuibd-card-header-auto">
                <!--搜索部分-->
               
            </div>
            <div class="layui-card-body">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>病人信息</legend>
                </fieldset>
                <!--主体部分-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">住院编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="HospitalizationNo" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <!--lay-verify="required|number"-->
                    <div class="layui-inline">
                        <label class="layui-form-label">个人编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PersonalCoding" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IdCardNo" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">患者姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientSex" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">主诊医生</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionDiagnosticDoctor" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入院日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionDate" id="date2" placeholder="yyyy-MM-dd" disabled autocomplete="off" class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">住院科室</label>
                        <div class="layui-input-inline">
                            <input type="text" name="InDepartmentName" autocomplete="off" disabled class="layui-input layui-disabled">
                            <input type="hidden" name="InDepartmentId" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">床位号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionBed" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">险种类型</label>
                        <div class="layui-input-inline">
                            <select id="InsuranceType" name="InsuranceType" disabled>
                                <option value="">请选择险种类型</option>
                                <option value="310">城镇职工</option>
                                <option value="342">城乡居民</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">医疗类别</label>
                        <div class="layui-input-inline">
                            <select id="MedicalCategory" name="MedicalCategory" lay-filter="MedicalCategoryType">
                                <option value="">请选择医疗类别</option>
                            </select>
                        </div>
                    </div>

                </div>
                <!--诊断部分-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>诊断列表</legend>
        </fieldset>
        <!--搜索部分-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 100px;">补加医保诊断</label>
                <div class="layui-input-inline" style="width: 280px;">
                    <input type="text" name="DiagnosisSearchData" id="DiagnosisSearchData" class="layui-input layui-disabled">
                </div>
            </div>


        </div>

                <!--诊断列表-->
                <table class="layui-table" id="dataTable" lay-size="sm" lay-filter="dataTable"></table>
                <div class="layui-form-item" style="text-align: center;margin-top: 20px;">
                    <button type="button" disabled class="layui-btn layui-btn-disabled layui-btn-radius" id="queryData">
                        查询
                    </button>
                    <button type="submit" Id="register" lay-submit lay-filter="register" disabled="disabled" class="layui-btn layui-btn-disabled layui-btn-radius">登记</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    layui.config({
        base: '/Content/js/layui/plugin/'
    }).extend({
        autocomplete: 'layAutoComplete'
    });
    var iniJs;
    var iniMsg;
    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate', 'autocomplete'],
        function () {
            var $ = layui.$,
                element = layui.element,
                form = layui.form,
                layer = layui.layer,
                table = layui.table,
                laydate = layui.laydate;
            //初始化公共页面
            iniJs = $;
            iniMsg = layer;
            var inpatientInfoData = null;
            //新的插件对象
            var baseInfoNew;
            //用户信息审核
            function userInfoAudit(name, icCard, ybName, ybCard) {
                var resultData = true;
                if (name !== ybName) {
                    layer.alert("基层与医保用户名不一致", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    resultData = false;
                }
                if (icCard !== ybCard) {
                    layer.alert("基层与医保身份证号不一致", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    resultData = false;
                }
                return resultData;
            }

            
            form.render(null, 'LAY-form-render');
            //执行一个laydate实例
            laydate.render({ elem: '#date1' });
            //指定入院日期,外部事件调用
            lay('#date2').on('click',
                function () {
                    laydate.render({
                        elem: '#date2',
                        format: 'yyyy-MM-dd HH:mm:ss',
                        show: true,
                        closeStop: '#date2'
                    });
                });

            //----
            //诊断数据表格实例化
            var layTableId = "dataTableId";
            var tableIns = table.render({
                elem: '#dataTable',
                id: layTableId,
                page: false,
                cols: [
                    [
                        { title: '序号', type: 'numbers', width: 80 },
                        { field: 'DiseaseCoding', title: '基层疾病编码', width: 280 },
                        { field: 'DiseaseName', title: '基层疾病名称', width: 280 },
                        { field: 'ProjectCode', title: '医保疾病编码', width: 280 },
                        {
                            field: 'IsMainDiagnosis',
                            title: '主诊',
                            width: 120,
                            event: 'diagnosis',
                            templet: function (d) {
                                var html = [
                                    '<input type="checkbox" name="IsMainDiagnosis" lay-skin="switch" lay-text="是|否"'
                                ];
                                html.push(d.IsMainDiagnosis === true ? 'checked' : '');
                                html.push('/>');
                                return html.join('');
                            }
                        }
                        ,{
                            title: '操作',
                            fixed: 'right',
                            templet: function (d) {
                                return '<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" lay-id="' +
                                    d.ProjectCode +
                                    '"><i class="layui-icon layui-icon-delete"></i>移除</a>';
                            }
                        }
                    ]
                ]
            });
            baseInfo.PageFunction.FunctionName = "Hospital";
            //插件检查
            var verification = DetectActiveX();
            if (verification === false) {
                return false;
            }
            //获取医疗类别
            function getMedicalCategory(num) {

                var optionHtml =null;
                //居民
                if (num === "342") {
                    optionHtml += "<option value='11' selected ='selected'>11-普通入院</option>";
                    optionHtml += "<option value='14'>14-大病门诊</option>";
                    optionHtml += "<option value='15'>15-大病住院</option>";
                    optionHtml += "<option value='22'>22-急诊入院</option>";
                    optionHtml += "<option value='23'>23-市内转院住院</option>";
                }
                //职工
                if (num === "310") {
                    optionHtml += "<option value='21' selected ='selected'>11-普通入院</option>";
                    optionHtml += "<option value='41'>41-工伤住院</option>";
                }
                $("#MedicalCategory").append(optionHtml);

            }
            //form数据回显:数据回显到Form表单主体部分
            var jsonToForm = function (formFilter) {
                //给表单赋值
                form.val(formFilter,
                    {
                        "AdmissionDate": inpatientInfoData.Data.AdmissionDate,
                        "HospitalizationNo": inpatientInfoData.Data.HospitalizationNo,
                        "PatientName": baseInfo.Inpatient.PatientName,
                        "IdCardNo": baseInfo.Inpatient.IdCardNo,
                        "PatientSex": baseInfo.Inpatient.PatientSex,
                        "InDepartmentName": inpatientInfoData.Data.InDepartmentName,
                        "InDepartmentId": inpatientInfoData.Data.InDepartmentId,
                        "AdmissionDiagnosticDoctor": inpatientInfoData.Data.AdmissionDiagnosticDoctor,
                        "AdmissionBed": inpatientInfoData.Data.AdmissionBed,
                        "AdmissionWard": inpatientInfoData.Data.AdmissionWard,
                        "AdmissionOperator": inpatientInfoData.Data.AdmissionOperator,
                        "PersonalCoding": baseInfo.Inpatient.PersonalCoding,
                        "InsuranceType": baseInfo.Inpatient.InsuranceType

                    });
                ////初始化医保类型
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可
            }


            //获取病人信息
            function getHospitalizationInpatientInfo() {

                var params = {
                    "TransKey": $("#transkey").val() /*医保交易码*/,
                    "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
                    "UserId": $("#empid").val() /*授权操作人的ID*/
                }
                params["timestamp"] = (new Date()).valueOf();
                //获取病人信息
                $.ajax({
                    url: host + '/GetInpatientInfo',
                    data: params,
                    dataType: "json",
                    type: 'post',
                    success: function (data) {
                        if (data.Success === false) {

                            var errData = data.Message;
                            //样式类名:墨绿深蓝风
                            layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });

                        } else {
                            inpatientInfoData = data;
                            if (baseInfo.PageFunction.IsSuspend !== 1) {
                                buttonStatus("queryData", true);
                            } 
                          
                            baseInfo.HospitalInfo.IdentityMark = data.Data.IdCardNo;
                       
                        
                        }
                    },
                    complete: function () {
                        form.render();
                    }
                });
            }

            //获取住院病人信息
            getHospitalizationInpatientInfo();
            //获取医院基本信息回调方法
            window.getHospitalInfoBack = function () { };
            getHospitalInfo(getHospitalInfoBack);
            //初始化病人基本信息
            function iniInpatientInfo() {
                baseInfoNew = baseInfo;
                getMedicalCategory(baseInfo.Inpatient.InsuranceType);
                jsonToForm("LAY-form-render");
            
                //加载诊断默认数据
                tableIns.reload({
                    data: inpatientInfoData.Data.DiagnosisList
                });
                buttonStatus("register", true);
            }
            //获取医保病人信息
            window.getInpatientInfoBack = function () {
                iniInpatientInfo();
            }


            //MedicalCategoryType医疗类别 隐藏显示胎儿数输入框
            form.on('select(MedicalCategoryType)',
                function (data) {

                    var val = data.value;
                    //layer.alert(val, { icon: 1 });
                    if (val === 41 || val === 71 || val === 72) {
                        $("#FetusNumberId").show(); //胎儿数输入框
                        $("#HouseholdNatureId").show(); //户口性质
                    } else {
                        $("#FetusNumberId").hide();
                        $("#HouseholdNatureId").hide();
                    }
                });
          

            /**根据当前住院病人的业务ID查询,返回数据回显到下面表单里面*/
            $('#queryData').on('click', function () {
          
                queryData(getInpatientInfoBack);
                buttonStatus("queryData", false);

            });


            function getHospitalizationRegisterParamIni(data) {
                var field = data.field;
            
                //医疗类别
                var medicalCategory = $("#MedicalCategory").val();
                if (medicalCategory === "" || medicalCategory === undefined) {
                    msgError('医疗类别不能为空!!!!');
                    return false;
                }
                field.IdentityMark = baseInfo.HospitalInfo.IdentityMark;
                field.BusinessId = field.BusinessId;
                //医保交易码
                field.TransKey = $("#transkey").val();
                //授权操作人的ID
                field.UserId = $("#empid").val();
                //诊断列表
                var dataTable1 = table.cache[layTableId];
                var diagnosisList = [];
                //排除空值
                $.each(dataTable1, function (k, v) {
                    if (v.DiseaseCoding !== undefined) {
                       
                        diagnosisList.push(v);
                    }
                });

                //诊断列表 add
                field.DiagnosisList = diagnosisList;
                field["IdentityMark"] = baseInfo.HospitalInfo.IdentityMark;
                field["AfferentSign"] = baseInfo.HospitalInfo.AfferentSign;
                if ($("#InsuranceType").val() === "310") {
                    field["AfferentSign"] = "3";
                    field.AfferentSign = "3";
                }
                return field;
            }

            //获取医保入院登记参数
            function getHospitalizationRegisterParam(data) {
                var fieldParam = getHospitalizationRegisterParamIni(data);
                if (fieldParam === false) return false;
                buttonStatus("register", false);
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/GetHospitalizationRegisterParam',
                    async: false,
                    data: JSON.stringify(fieldParam),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                      
                        if (data.Success === false) {
                            var errData = data.Message;
                            msgError(errData);
                            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                            //样式类名:墨绿深蓝风
                        } else {
                            var activeX = document.getElementById("CSharpActiveX");
                            //获取医保类型
                            var insuranceTypeValue = $("#InsuranceType").val();
                            var activeData;
                            var activeJsonData;
                            if (insuranceTypeValue === "342") { //医保入院登记
                                activeData = activeX.HospitalizationMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo), "HospitalizationRegister");
                                activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                    return false;
                                } else {
                                    fieldParam["SettlementJson"] = activeJsonData.Data;
                                    hospitalizationRegister(fieldParam);
                                }
                            }
                            if (insuranceTypeValue === "310") {
                                //医保入院登记
                                activeData = activeX.HospitalizationMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo), "WorkerHospitalizationRegister");
                                activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                    return false;
                                } else {
                                    fieldParam["SettlementJson"] = activeJsonData.Data;
                                    hospitalizationRegister(fieldParam);

                                }
                            }

                        }
                    }
                });


            }
            //住院登记
            function hospitalizationRegister(fieldParam) {
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/HospitalizationRegister',
                    async: false,
                    data: JSON.stringify(fieldParam),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            msgError(errData);

                        } else {
                            buttonStatus("register", false);
                            msgSuccess('入院登记成功');

                        }

                    }
                });
            }
            form.on('submit(register)',
                function (data) {
                    
                    
                    var auditData = userInfoAudit(inpatientInfoData.Data.PatientName, inpatientInfoData.Data.IdCardNo, baseInfoNew.Inpatient.PatientName, baseInfoNew.Inpatient.IdCardNo);
                    if (auditData === true) {
                       getHospitalizationRegisterParam(data);
                      }
                  
                    return false; 
                });

            ////诊断查询
            var tableSelect = layui.tableSelect;
            tableSelect.render({
                elem: '#DiagnosisSearchData',
                checkedKey: 'id',
                searchKey: 'Search',//搜索输入框的name值 默认keyword
                searchPlaceholder: '名称/编码',	//搜索输入框的提示文字 默认关键词搜索
                table: {
                    url: host + '/MedicalInsuranceQueryIcd10',
                    parseData: function (result) {
                        return {
                            "code": result.Code,
                            "msg": result.Message,
                            "data": result.Data.data,
                            "count": result.Data.count
                        };
                    },
                    cols: [
                        [
                            { type: 'radio' },
                            { field: 'DiseaseCoding', title: '医保疾病编码' },
                            { field: 'DiseaseName', title: '医保疾病名称' },
                            { field: 'ProjectCode', title: '医保疾病编码', hide: true }

                        ]
                    ]
                },
                done: function (elem, data) {

                    //获取table缓存
                    var oldData = table.cache[layTableId];
                    var oldDataTable = new Array;
                    layui.each(oldData,
                        function (index, item) {
                            //排除空值
                            if (item.DiseaseCoding !== undefined) {
                                //新增诊断编码
                                var addDDiseaseCoding = data.data[0].DiseaseCoding;
                                //诊断去重
                                if (item.DiseaseCoding !== addDDiseaseCoding) {
                                    var itemRow = {
                                        DiseaseName: item.DiseaseName,
                                        DiseaseCoding: item.DiseaseCoding,
                                        IsMainDiagnosis: item.IsMainDiagnosis,
                                        ProjectCode: item.DiseaseCoding

                                    };
                                    oldDataTable.push(itemRow);

                                }
                            }
                        });

                    var newRow = {
                        DiseaseName: data.data[0].DiseaseName,
                        DiseaseCoding: data.data[0].DiseaseCoding,
                        ProjectCode: data.data[0].DiseaseCoding,
                        IsMainDiagnosis: false

                    };
                    //添加选中后的诊断
                    oldDataTable.push(newRow);

                    //更新table
                    tableIns.reload({
                        data: oldDataTable
                    });



                }
            });
            //注册按钮事件
            $('.layui-btn[data-type]').on('click',
                function () {
                    var type = $(this).data('type');
                    activeByType(type);
                });
            //定义事件集合
            var active = {
                updateRow: function (obj) {
                    var oldData = table.cache[layTableId];
                    console.log(oldData);
                    for (var i = 0, row; i < oldData.length; i++) {
                        row = oldData[i];
                        if (row.DiseaseCoding === obj.DiseaseCoding) {
                            $.extend(oldData[i], obj);
                            return;
                        }
                    }
                    tableIns.reload({
                        data: oldData
                    });
                },
                removeEmptyTableCache: function () {
                    var oldData = table.cache[layTableId];
                    for (var i = 0, row; i < oldData.length; i++) {
                        row = oldData[i];
                        if (!row || !row.Id) {
                            oldData.splice(i, 1); //删除一项
                        }
                        continue;
                    }
                    tableIns.reload({
                        data: oldData
                    });
                }
            };
            //激活事件
            var activeByType = function (type, arg) {
                if (arguments.length === 2) {
                    active[type] ? active[type].call(this, arg) : '';
                } else {
                    active[type] ? active[type].call(this) : '';
                }
            }
            //监听工具条
            table.on('tool(dataTable)',
                function (obj) {
                    var data = obj.data, event = obj.event, tr = obj.tr; //获得当前行 tr 的DOM对象;
                    switch (event) {
                        case "diagnosis":
                            var stateVal = tr.find("input[name='IsMainDiagnosis']").prop('checked') ? true : false;
                            $.extend(obj.data, { 'IsMainDiagnosis': stateVal });
                            activeByType('updateRow', obj.data); //更新行记录对象
                            break;
                        case "del":
                            layer.confirm('真的删除行么？',
                                function (index) {
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    layer.close(index);
                                    //activeByType('removeEmptyTableCache');
                                });
                            break;
                    }
                });
            //---
        });

</script>