
@{

    Layout = "~/Views/Shared/_Base.cshtml";
}
<link href="~/Content/js/layui/css/modules/layuiAutocomplete.css" rel="stylesheet" />
<script src="~/script/BenDingComm.js"></script>
<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" id="LAY-form" lay-filter="LAY-form-render">
          
            @{Html.RenderPartial("_CSharpActiveX");}
            <div class="layui-card-body">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>病人信息</legend>
                </fieldset>
                <!--主体部分-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">住院编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="HospitalizationNo" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IdCardNo" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">患者姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientSex" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">主诊医生</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionDiagnosticDoctor" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入院日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionDate"  autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">住院科室</label>
                        <div class="layui-input-inline">
                            <input type="text" name="InDepartmentName" autocomplete="off" disabled class="layui-input layui-disabled">
                          
                        </div>
                    </div>
                  
                </div>
                <div class="layui-form-item" style="text-align: center;margin-top: 20px;">
                    <button type="submit" Id="HospitalizationRegisterCancel" lay-submit disabled class="layui-btn layui-btn-disabled layui-btn-radius">取消医保入院登记</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    layui.config({
        base: '/Content/js/layui/plugin/'
    }).extend({
        autocomplete: 'layAutoComplete'
        });
    var iniJs;
    var iniMsg;
    layui.use(['form', 'layer', 'element',  'autocomplete'],
        function() {
            var $ = layui.$,
                element = layui.element,
                form = layui.form,
                layer = layui.layer;
            iniJs = $;
            iniMsg = layer;
            //是否生育
            var isBirthHospital = 0;
            //险种类型
            var insuranceType = null;
            var jsonToForm = function (jsonData, formFilter) {
                //给表单赋值
                form.val(formFilter,
                    {
                        "AdmissionDate": jsonData.AdmissionDate,
                        "HospitalizationNo": jsonData.HospitalizationNo,
                        "PatientName": jsonData.PatientName,
                        "IdCardNo": jsonData.IdCardNo,
                        "PatientSex": jsonData.PatientSex,
                        "InDepartmentName": jsonData.InDepartmentName,
                        "AdmissionDiagnosticDoctor": jsonData.AdmissionDiagnosticDoctor
                    });
                
            }
         
       
            //获取病人信息
            function getInpatientInfo() {
                var params = {
                    "TransKey": $("#transkey").val() /*医保交易码*/,
                    "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
                    "UserId": $("#empid").val() /*授权操作人的ID*/
                }
                params["timestamp"] = (new Date()).valueOf();
                //获取病人信息
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/GetAdmissionRegistrationCancelInfo',
                    data: params,
                    async: false,
                    data: JSON.stringify(params),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            msgError(errData);

                        } else {
                            isBirthHospital = data.Data.IsBirthHospital;
                            insuranceType = data.Data.InsuranceType;
                            jsonToForm(data.Data.InpatientInfo, "LAY-form-render");
                            buttonStatus('HospitalizationRegisterCancel', true)
                            //HospitalizationRegisterCancel
                            //layer.msg('费用上传成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv' });
                        }
                    },
                    complete: function () {
                        form.render();
                    }
                });
            }
            //获取病人信息
            getInpatientInfo();
            //插件检查
            var verification = DetectActiveX();
            if (verification === false) {
                return false;
            }

            //获取医院基本信息回调方法
            window.getHospitalInfoBack = function () { };
            getHospitalInfo(getHospitalInfoBack);
            //获取医保取消结算参数
            function getLeaveHospitalSettlementCancelParam() {

                var cancelParams = {
                    "TransKey": $("#transkey").val() /*医保交易码*/,
                    "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
                    "UserId": $("#empid").val() /*授权操作人的ID*/,
                    "CancelLimit": "2"/*取消程度*/
                   
                }
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/GetLeaveHospitalSettlementCancelParam',
                    async: false,
                    data: JSON.stringify(cancelParams),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            msgError(errData);
                            return false; 
                            //样式类名:墨绿深蓝风
                        } else {
                            var activeX = document.getElementById("CSharpActiveX");

                            var activeData;
                            var activeJsonData;
                        
                            if (insuranceType === "342") {
                                //居民取消结算
                                activeData = activeX.HospitalizationMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo), "LeaveHospitalSettlementCancel");
                                activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                } else {
                                    leaveHospitalSettlementCancel(cancelParams);
                                }
                            }
                            if (insuranceType === "310") {
                                ////职工生育取消结算
                                if (isBirthHospital === 1) {
                                    activeData = activeX.HospitalizationMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo), "LeaveHospitalSettlementCancel");
                                }
                                else//职工取消结算
                                {
                                    activeData = activeX.HospitalizationMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo), "WorkerSettlementCancel");
                                }

                                activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                } else {
                                    leaveHospitalSettlementCancel(cancelParams);
                                }
                              
                            }
                        }
                    }
                });

             
            }
            function leaveHospitalSettlementCancel(cancelParams) {
                //医保入院登记取消
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/MedicalInsuranceHospitalizationRegisterCancel',
                    async: false,
                    data: JSON.stringify(cancelParams),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        } else {


                            layer.alert('取消医保入院登记成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv', title: '温馨提示' });

                            buttonStatus("HospitalizationRegisterCancel", false);
                        }
                    }

                });
            }
            //form数据回显:数据回显到Form表单主体部分
            $('#HospitalizationRegisterCancel').on('click', function () {
                buttonStatus("HospitalizationRegisterCancel", false);
                getLeaveHospitalSettlementCancelParam();
                return false; 
            });
           
        });
</script>