
@{
    ViewBag.Title = "门诊结算";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<link href="~/Content/js/layui/css/modules/layuiAutocomplete.css" rel="stylesheet" />
<script src="~/script/BenDingComm.js"></script>
<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" id="LAY-form" lay-filter="LAY-form-render">
            @{Html.RenderPartial("_CSharpActiveX");}
            <div class="layui-card-header layuibd-card-header-auto">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>病人信息</legend>
                </fieldset>
                <!--病人信息-->
                <div class="layui-form-item">
                    <label class="layui-form-label">结算方式</label>
                    <div class="layui-input-block">
                        <input type="radio" id="SettlementThree" name="Settlement" value="2" title="职工刷卡结算">
                        <input type="radio" id="SettlementFour" name="Settlement" value="4"   checked="checked"  title="居民有卡报账">
                        <input type="radio" id="SettlementFive" name="Settlement" value="5"   title="居民无卡报账">
                        <input type="radio" id="SettlementTwo" name="Settlement" value="1"  title="职工计划生育结算">
                        <input type="radio" id="SettlementOne" name="Settlement" value="3" title="医保电子凭证结算">
                    </div>

                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">主诊断编码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisCode" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">主诊断名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">医保诊断编码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisMedicalInsuranceCode" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">医保诊断名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosisMedicalInsuranceName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">门诊号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="OutpatientNumber" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="IdCardNo" @*lay-verify="required|number"*@ autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">患者姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="PatientName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">就诊日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="VisitDate" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">住院科室</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DepartmentName" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">费用合计</label>
                    <div class="layui-input-inline">
                        <input type="text" id="MedicalTreatmentTotalCost" name="MedicalTreatmentTotalCost" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">现金支付</label>
                    <div class="layui-input-inline">
                        <input type="text" id="CashPayment" name="CashPayment" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline" id="InsuranceBalanceDiv">
                    <label class="layui-form-label">账户余额</label>
                    <div class="layui-input-inline">
                        <input type="text" id="InsuranceBalance" name="InsuranceBalance" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
            
                <div class="layui-inline" id="AccountPaymentDiv" >
                    <label class="layui-form-label">下账金额</label>
                    <div class="layui-input-inline" >
                        <input type="text" id="AccountPayment" name="AccountPayment" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">险种类型</label>
                    <div class="layui-input-inline">
                        <select id="InsuranceType" style="padding-right:1px" name="InsuranceType" disabled>
                            <option value="" >请选择险种类型</option>
                            <option value="310" >城镇职工</option>
                            <option value="342" >城乡居民</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">诊断医生</label>
                    <div class="layui-input-inline">
                        <input type="text" name="DiagnosticDoctor" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                @*<div class="layui-inline">
                    <label class="layui-form-label">经办人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Operator" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">发票号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="InvoiceNo" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>*@
                <div class="layui-inline" >
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="ContactPhone" id="ContactPhone" autocomplete="off"  class="layui-input">
                    </div>
                </div>
       
                <div class="layui-form-item" id="passwordDiv">
                    <label class="layui-form-label">医保卡密码</label>
                    <div class="layui-input-inline">
                        <input type="password" Id="CardPwd" name="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item" id="queryDataDiv" style="text-align: center; margin-top: 20px;">
                <button type="button" Id="queryData"   class="layui-btn layui-btn-radius">查询</button>
             
            </div>
            <div class="layui-form-item" id="DoorDiagnosisPreSettlementDiv" style="text-align: center; margin-top: 20px;">
                <button type="button" Id="CatalogPairCode" class="layui-btn layui-btn-radius">项目对码</button>
                <button type="button" Id="SettlementCard" disabled="disabled" class="layui-btn layui-btn-disabled layui-btn-radius">职工刷卡结算</button>
                <button type="button" Id="ResidentSettlementCard" disabled="disabled" class="layui-btn layui-btn-disabled layui-btn-radius">居民结算</button>
                <button type="button" Id="MedicalFeeRegistration" disabled="disabled" class="layui-btn layui-btn-disabled layui-btn-radius">居民报账一般诊疗费登记</button>
                <button type="button" Id="DoorDiagnosisPreSettlement" disabled="disabled" class="layui-btn layui-btn-disabled layui-btn-radius">职工计划生育预结算</button>
                <button type="button" Id="OutpatientNationEcTrans" disabled="disabled" class="layui-btn layui-btn-disabled layui-btn-radius">医保电子凭证结算</button>
            </div>
            <div class="layui-form-item" style="text-align: center; margin-top: 20px;" id="DoorDiagnosisSettlementDiv">
                <button type="button" Id="DoorDiagnosisSettlement"  disabled="disabled" class="layui-btn layui-btn-disabled layui-btn-radius">职工计划生结算</button>
            </div>
         
            <div class="layui-card-body" lay-size="sm">
                <fieldset id="SettleData" class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>医保结算信息</legend>
                </fieldset>
            </div>

        </form>
    </div>
</div>
<script>
    layui.config({
        base: '/Content/js/layui/plugin/'
    }).extend({
        autocomplete: 'layAutoComplete'
        });
    var iniJs;
    var iniMsg;
    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate', 'autocomplete'], function () {
        var $ = layui.$,
            element = layui.element,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;
        //初始化公共页面
        iniJs = $;
        iniMsg = layer;
        $("#InsuranceBalanceDiv").hide();
        $("#AccountPaymentDiv").hide();
        $("#DoorDiagnosisPreSettlementDiv").hide();
        $("#DoorDiagnosisSettlementDiv").hide();
        $("#queryDataDiv").hide();
        $("#passwordDiv").hide();
        //门诊病人信息
       var outpatientData;
        //新的插件对象
        var baseInfoNew;
        //用户信息审核
        function userInfoAudit(name, icCard, ybName, ybCard) {
            var resultData = true;
            if (name !== ybName) {
                layer.alert("基层与医保用户名不一致", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                resultData = false;
            }
            if (icCard !== ybCard) {
                layer.alert("基层与医保身份证号不一致", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                resultData = false;
            }
            return resultData;
        }

      
   
        baseInfo.PageFunction.FunctionName = "Outpatient";

        var passWordKey = "1";
        var settlementRadio = null;
        var insuranceNo = null;//社保卡号
        //新插件对象
        var activeXNew = document.getElementById("CSharpActiveX"); 
       // 插件检查
        var verification = DetectActiveX();
        if (verification === false) {
            return false;
        }
        //是否使用加密键盘
        function isPassKey() {
            //var activeX = document.getElementById("CSharpActiveX");
            var activeData = activeXNew.CheckPwd();
            if (activeData === "0") {
                passWordKey = "0";
                $("#passwordDiv").show();
                $("#CardPwd").focus();
            }
        }
        //form数据回显:数据回显到Form表单主体部分
        var jsonToForm = function (jsonData, formFilter) {
            var diagnosisList = jsonData.DiagnosisList;
            var diagnosisName = null;
            var diagnosisCode = null;
            var diagnosisMedicalInsuranceCode = null;
            var diagnosisMedicalInsuranceName = null;
            if (diagnosisList !== null) {

                for (var i = 0; i < diagnosisList.length; i++) {
                    if (diagnosisList[i].是否主诊断 === "是") {
                        diagnosisName = diagnosisList[i].诊断名称;
                        diagnosisCode = diagnosisList[i].诊断编码;
                        diagnosisMedicalInsuranceCode = diagnosisList[i].诊断医保编码;
                        diagnosisMedicalInsuranceName = diagnosisList[i].诊断医保名称;
                    }
                }

            }
            //给表单赋值
            form.val(formFilter,
                {
                    "OutpatientNumber": jsonData.OutpatientNumber,
                    "IdCardNo": jsonData.IdCardNo,
                    "PatientName": jsonData.PatientName,
                    "VisitDate": jsonData.VisitDate,
                    "DepartmentName": jsonData.DepartmentName,
                    "MedicalTreatmentTotalCost": jsonData.MedicalTreatmentTotalCost,
                    "Operator": jsonData.Operator,
                    "DiagnosticDoctor": jsonData.DiagnosticDoctor,
                    "InvoiceNo": jsonData.InvoiceNo,
                    "DiagnosisName": diagnosisName,
                    "DiagnosisCode": diagnosisCode,
                    "DiagnosisMedicalInsuranceCode": diagnosisMedicalInsuranceCode,
                    "DiagnosisMedicalInsuranceName": diagnosisMedicalInsuranceName
                });

        }
       
        var params = {
            "TransKey": $("#transkey").val() /*医保交易码*/,
            "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
            "UserId": $("#empid").val() /*授权操作人的ID*/
        }
        params["timestamp"] = (new Date()).valueOf();
        //获取医院基本信息回调方法
        window.getHospitalInfoBack = function () { };
     
        getHospitalInfo(getHospitalInfoBack);
        //结算方式控制
        function radioChecked() {
            $("#SettlementOne,#SettlementTwo,#SettlementThree,#SettlementFour").attr("disabled","");
        }
        //初始化病人基本信息
        function iniInpatientInfo() {
            baseInfoNew = baseInfo;
            // 居民
            if (baseInfoNew.Inpatient.InsuranceType === "342") {
                $("#InsuranceBalance").val(baseInfoNew.Inpatient.ResidentInsuranceBalance);
                //$("#OverallPaymentBalance").val(baseInfoNew.Inpatient.OverallPaymentBalance);
                //$("#OverallPaymentBalanceDiv").show();
             
                //职工
            } else if (baseInfoNew.Inpatient.InsuranceType === "310") {
                $("#InsuranceBalance").val(baseInfoNew.Inpatient.WorkersInsuranceBalance);
            }
            var settlementVal = $('input[name="Settlement"]:checked').val();
            $("#DoorDiagnosisPreSettlementDiv").show();
            //计划生育结算
            if (settlementVal === "1" && baseInfoNew.Inpatient.InsuranceType === "310") {
                           
                buttonStatus("DoorDiagnosisPreSettlement", true);
            }
            if (settlementVal === "3" )//电子凭证结算
            {
                buttonStatus("OutpatientNationEcTrans", true);
            }
            //职工刷卡结算
            if (settlementVal === "2" && baseInfoNew.Inpatient.InsuranceType === "310" )
            {
                buttonStatus("SettlementCard", true);
                isPassKey();
                $("#AccountPaymentDiv").show();

            }
            //居民刷卡结算
            if (settlementVal === "4" && baseInfoNew.Inpatient.InsuranceType === "342") {
                if (baseInfoNew.Inpatient.ResidentInsuranceBalance === 0) {
                    buttonStatus("ResidentSettlementCard", false);
                    buttonStatus("MedicalFeeRegistration", false);
                    residentOutpatientPreSettlement("");
                } else {
                    buttonStatus("ResidentSettlementCard", true);
                    buttonStatus("MedicalFeeRegistration", true);
                    isPassKey();
                }

               
            }
            //居民无卡结算
            if (settlementVal === "5" && baseInfoNew.Inpatient.InsuranceType === "342") {
                if (baseInfoNew.Inpatient.ResidentInsuranceBalance === 0) {
                    buttonStatus("ResidentSettlementCard", false);
                    buttonStatus("MedicalFeeRegistration", false);
                    residentOutpatientPreSettlement("");
                } else {
                    buttonStatus("MedicalFeeRegistration", true);
                    buttonStatus("ResidentSettlementCard", true);
                    $("#passwordDiv").show();
                    $("#CardPwd").focus();
                    }
               
            }
            $("#InsuranceType").val(baseInfoNew.Inpatient.InsuranceType);
            form.render();
            //if (settlementVal === "4" )//门诊结算
            //{////显示结算按钮
            //    //$("#DoorDiagnosisSettlementDiv").show();
            //    ////隐藏预结算按钮
            //    //$("#DoorDiagnosisPreSettlementDiv").hide();
            //    ////居民显示结算按钮
            //    //buttonStatus("DoorDiagnosisSettlement", true);
            //}
            $("#InsuranceBalanceDiv").show();
            params["AfferentSign"] =  baseInfoNew.HospitalInfo.AfferentSign;
            params["IdentityMark"] = baseInfoNew.HospitalInfo.IdentityMark;
            params["InsuranceType"] = baseInfoNew.Inpatient.InsuranceType;
        }
        //获取医保病人信息
        window.getInpatientInfoBack = function () {
            iniInpatientInfo();
        }
        //密码验证
        function verifyPassword() {
            var resultData = true;
            var pwd = $("#CardPwd").val();
            if (pwd === "")
            {
                msgError("医保卡密码不能为空!!!");
                resultData= false;
            }
            else
            {
                if (pwd.length < 6) {
                    msgError("医保卡密码为6位,当前只有" + pwd.length + "位!!!");
                    resultData= false;
                } 
                    
            }
            return resultData;
        }
        //获取门诊结算参数
        function getOutpatientDepartmentCostInputParam() {

           
            $.ajax({
                type: 'post',
                url: hostNew + '/GetOutpatientDepartmentCostInputParam',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                 
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        //样式类名:墨绿深蓝风

                    } else {
                        //var activeX = document.getElementById("CSharpActiveX");
                        //门诊结算
                        var activeData = activeXNew.OutpatientMethods(data.Data,JSON.stringify(baseInfoNew.HospitalInfo),"OutpatientDepartmentCostInput");
                        var activeJsonData = JSON.parse(activeData);
                        if (activeJsonData.Success === false) {
                            msgError(activeJsonData.Message);
                        } else {
                            outpatientDepartmentCostInput(activeJsonData.Data, activeJsonData.OtherInfo);
                        }
                       
                    }
                }

            });
        }
        //普通门诊结算
        function outpatientDepartmentCostInput(costInputData, accountBalance) {
            var costInputParam = $.extend({}, params);;
            costInputParam["SettlementJson"] = costInputData;
            costInputParam["AccountBalance"] = accountBalance;
            $.ajax({
                type: 'post',
                url: hostNew + '/OutpatientDepartmentCostInput',
                data: costInputParam,
                dataType: "json",
                async: false,
                success: function (data) {
                 
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);

                    } else {
                        //$('#ReimbursementExpenses').val(data.Data.ReimbursementExpensesAmount);
                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                        msgSuccess('门诊结算成功');
                        buttonStatus("DoorDiagnosisSettlement", false);
                        //添加结算信息
                        if (data.Data.PayMsg !== null) {
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });
        }
        //获取门诊计划生育预结算参数
        function getOutpatientPlanBirthPreSettlementParam() {
            //隐藏预结算按钮
            $("#DoorDiagnosisPreSettlementDiv").hide();
            var preParam = $.extend({}, params);
            preParam["InsuranceType"] = "342";
            $.ajax({
                type: 'POST',
                url: hostNew + '/GetOutpatientPlanBirthPreSettlementParam',
                data: preParam,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        return false;
                    } else {
                       // var activeX = document.getElementById("CSharpActiveX");
                       
                        //门诊计划生育预结算
                        var activeData = activeXNew.OutpatientMethods(data.Data, JSON.stringify(baseInfoNew.HospitalInfo),"OutpatientPlanBirthPreSettlement");
                        var activeJsonData = JSON.parse(activeData);
                        if (activeJsonData.Success === false) {
                            msgError(activeJsonData.Message);
                        } else {
                            outpatientPlanBirthPreSettlement(activeJsonData.Data);
                        }
                    }
                }

            });

        }
        //门诊计划生育预结算
        function outpatientPlanBirthPreSettlement(settlementJsonData) {
           
            var preParam = $.extend({}, params);
            preParam["InsuranceType"] = "342";
            preParam["SettlementJson"] = settlementJsonData;
            $.ajax({
                type: 'post',
                url: hostNew + '/OutpatientPlanBirthPreSettlement',
                data: preParam,
                dataType: "json",
                async: false,
                success: function (data) {
                    
                
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                      

                    } else {
                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                        layer.alert('门诊预结算成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv' });
                        //隐藏预结算按钮
                        $("#DoorDiagnosisPreSettlementDiv").hide();
                        $("#DoorDiagnosisSettlementDiv").show();
                        $("#AccountPaymentDiv").show();
                      
                        //显示结算按钮
                        buttonStatus("DoorDiagnosisSettlement", true);
                        
                        //添加预结算信息
                        if (data.Data.PayMsg !== null) {
                       
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });
        }
        //获取门诊计划生育结算参数
        function getOutpatientPlanBirthSettlementParam() {
           
            $.ajax({
                type: 'POST',
                url: hostNew + '/GetOutpatientPlanBirthSettlementParam',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    } else {
                       // var activeX = document.getElementById("CSharpActiveX");
                        //门诊计划生育结算
                      
                        var activeData = activeXNew.OutpatientMethods(data.Data, JSON.stringify(baseInfoNew.HospitalInfo),"OutpatientPlanBirthSettlement");
                        var activeJsonData = JSON.parse(activeData);
                        if (activeJsonData.Success === false) {
                            msgError(activeJsonData.Message);
                        } else {
                            outpatientPlanBirthSettlement(activeJsonData.Data, activeJsonData.OtherInfo);
                        }
                    }
                }

            });

        }
        //门诊计划生育结算
        function outpatientPlanBirthSettlement(settlementDataInfo, accountBalance) {
            var planBirthParams = $.extend({}, params);
            planBirthParams["SettlementJson"] = settlementDataInfo;
            planBirthParams["AccountBalance"] = accountBalance;
            $.ajax({
                type: 'post',
                url: hostNew + '/OutpatientDepartmentCostInput',
                data: planBirthParams,
                dataType: "json",
                async: false,
                success: function (data) {
                    
                    if (data.Success === false) {  
                        var errData = data.Message;
                        msgError(errData);
                    } else {
                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                        layer.alert('门诊结算成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv' });
                       
                        $("#DoorDiagnosisSettlementDiv").show();
                        $("#AccountPaymentDiv").show();
                        //取消显示结算按钮
                        buttonStatus("DoorDiagnosisSettlement", false);
                        //添加预结算信息
                        if (data.Data.PayMsg !== null) {
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });
        }
        //获取电子社保支付参数
        function outpatientNationEcTransParam() {
            var ecTransParam = $.extend({}, params);
            var url = "/GetOutpatientNationEcTransResidentParam";
            if (baseInfoNew.Inpatient.InsuranceType === "310") {
                url = "/OutpatientNationEcTransParam";
                ecTransParam["InsuranceType"] = "310";
            } else {
                ecTransParam["InsuranceType"] = "342";
                if ($("#ContactPhone").val() === "") {
                    layer.alert("居民报账联系电话不能为空", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    return false;
                }
                var auditData = userInfoAudit(outpatientData.PatientName,
                    outpatientData.IdCardNo,
                    baseInfoNew.Inpatient.PatientName,
                    baseInfoNew.Inpatient.IdCardNo);
                if (auditData === false) return false;

                ecTransParam["CommunityName"] = baseInfoNew.Inpatient.CommunityName;
                ecTransParam["ContactPhone"] = $("#ContactPhone").val();
                ecTransParam["ContactAddress"] = baseInfoNew.Inpatient.ContactAddress;
                 
            }
            $.ajax({
                type: 'POST',
                url: hostNew + url,
                data: ecTransParam,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        return false;
                    } else {
                        buttonStatus("OutpatientNationEcTrans", false);
                       // var activeX = document.getElementById("CSharpActiveX");
                        var activeData;
                        var activeJsonData; 
                        //电子医保支付
                        if (baseInfoNew.Inpatient.InsuranceType !== "310") {
                            activeData = activeXNew.OutpatientMethods(data.Data,
                                JSON.stringify(baseInfoNew.HospitalInfo),
                                "NationEcTransResident");
                            activeJsonData = JSON.parse(activeData);
                        }
                        else {
                            activeData = activeXNew.OutpatientMethods(data.Data,
                                JSON.stringify(baseInfoNew.HospitalInfo),
                                "NationEcTrans");
                              activeJsonData = JSON.parse(activeData);
                        }
                         
                        if (activeJsonData.Success === false) {
                            msgError(activeJsonData.Message);
                        } else {
                            outpatientNationEcTrans(activeJsonData.Data);
                        }

                    }
                }

            });
        }
        //电子社保支付
        function outpatientNationEcTrans(settlementDataInfo) {
            var ecTransParam = $.extend({}, params);
            var url = "/outpatientNationEcTrans";
            if (baseInfoNew.Inpatient.InsuranceType !== "310") url = "/OutpatientNationEcTransResident";
            ecTransParam["SettlementJson"] = settlementDataInfo;
            var preParam = $.extend({}, params);
            preParam["InsuranceType"] = "310";
            $.ajax({
                type: 'POST',
                url: hostNew + url,
                data: ecTransParam,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    } else {
                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                      
                        layer.alert('电子凭证支付成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv' });
                        //添加预结算信息
                        if (data.Data.PayMsg !== null) {
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });
        }
        //获取门诊划卡参数
        function workerOutpatientSettlementCardParam() {
            var getCardParam = $.extend({}, params);
            getCardParam["InsuranceType"] = "310";
            getCardParam["DownAmount"] = $("#AccountPayment").val();
            
            if (passWordKey === "0") getCardParam["CardPwd"] = $("#CardPwd").val();
            $.ajax({
                type: 'POST',
                url: hostNew + '/WorkerOutpatientSettlementCardParam',
                data: getCardParam,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        return false;
                    } else {
                        buttonStatus("SettlementCard", false);
                        //var activeX = document.getElementById("CSharpActiveX");
                        //划卡支付
                        layer.msg('正在操作中请稍等...');
                        var activeData = activeXNew.HospitalizationMethods(JSON.stringify(data.Data), JSON.stringify(baseInfoNew.HospitalInfo),"WorkerCardSettlement");
                        var activeJsonData = JSON.parse(activeData);
                        if (activeJsonData.Success === false) {
                            msgError(activeJsonData.Message);
                        } else {
                            workerOutpatientSettlementCard(activeJsonData.Data);
                        }

                     
                    }
                }

            });
        }
        //门诊划卡
        function workerOutpatientSettlementCard(settlementDataInfo) {
            var cardParam = $.extend({}, params);
            cardParam["InsuranceType"] = "310";
            cardParam["SettlementJson"] = settlementDataInfo;
            cardParam["DownAmount"] = $("#AccountPayment").val();
            $.ajax({
                type: 'POST',
                url: hostNew + '/WorkerOutpatientSettlementCard',
                data: cardParam,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    } else {
                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                        layer.alert('划卡支付成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv' });
                        //添加预结算信息
                        if (data.Data.PayMsg !== null) {
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });
        }
        //职工读卡获取社保卡号
        function workerReadCardInfo(cardPwd) {
            var activeData = activeXNew.OutpatientMethods(cardPwd, JSON.stringify(baseInfoNew.HospitalInfo), "ReadCardInfo");
            var activeJsonData = JSON.parse(activeData);
       
            if (activeJsonData.Success === false) {
                msgError(activeJsonData.Message);
                return false;
            } else {
               
                var activeJsonInfo = JSON.parse(activeJsonData.Data);
                insuranceNo = activeJsonInfo.WorkersCardNo;
                return true;
            }
          
           
        }
        //职工划卡
        function workerSettlementCard() {
            if (passWordKey === "0") {
                var pwd = $("#CardPwd").val();
                if (pwd === "") {
                    msgError("医保卡密码不能为空!!!");
                    return false;
                } else
                {
                    if (pwd.length < 6) {
                        msgError("医保卡密码为6位,当前只有" + pwd.length + "位!!!");
                        return false;
                    } else
                    {
                       
                        workerOutpatientSettlementCardParam();
                    }
                }

            }
            else {
               
                workerOutpatientSettlementCardParam();
            }
        }
        //门诊居民结算
        function residentOutpatientPreSettlement(settlementJsonData) {
            var preParam = $.extend({}, params);
            preParam["InsuranceType"] = "342";
            preParam["SettlementJson"] = settlementJsonData;
            preParam["CommunityName"] = baseInfoNew.Inpatient.CommunityName;
            preParam["ContactPhone"] = $("#ContactPhone").val();
            preParam["ContactAddress"] = baseInfoNew.Inpatient.ContactAddress;
            $.ajax({
                type: 'post',
                url: hostNew + '/ResidentOutpatientPreSettlement',
                data: preParam,
                dataType: "json",
                async: false,
                success: function (data) {
                
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                      

                    } else {
                        $('#CashPayment').val(data.Data.SelfPayFeeAmount);
                        buttonStatus("MedicalFeeRegistration", false);
                        var msgSuccess = "门诊居民结算成功";
                        if (settlementJsonData === "") msgSuccess = "一般诊疗费登记成功";
                        layer.alert(msgSuccess, { icon: 6, shade: 0.1, skin: 'layui-layer-molv' });
                      
                      
                        //添加预结算信息
                        if (data.Data.PayMsg !== null) {
                            settlementData(data.Data.PayMsg);
                        }
                    }
                }

            });
        }
        //居民划卡结算
        function residentSettlementCard() {
            var cardParam = $.extend({}, params);
            cardParam["InsuranceType"] = "342";
            if ($("#ContactPhone").val() === "") {
                layer.alert("居民报账联系电话不能为空", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                return false;
            }
            var auditData = userInfoAudit(outpatientData.PatientName,
                outpatientData.IdCardNo,
                baseInfoNew.Inpatient.PatientName,
                baseInfoNew.Inpatient.IdCardNo);
            if (auditData === false) return false;
            cardParam["CommunityName"] = baseInfoNew.Inpatient.CommunityName;
            cardParam["ContactPhone"] = $("#ContactPhone").val();
            cardParam["ContactAddress"] = baseInfoNew.Inpatient.ContactAddress;
            var pwd = $("#CardPwd").val();
            if (settlementRadio === "4") {
                if (passWordKey === "0") {
                    if (verifyPassword() === false) return false;
                    cardParam["Pwd"] = pwd;
                    if (workerReadCardInfo(pwd) === false) return false;
                }
                else
                {
                    if (workerReadCardInfo("")=== false) return false;
                }
                cardParam["InsuranceNo"] = insuranceNo;
            }
            if (settlementRadio === "5") {
                if (pwd === "") {
                    msgError("消费密码不能为空!!!");
                    return false;
                }
                cardParam["Pwd"] = pwd;
            }
           
            $.ajax({
                type: 'POST',
                url: hostNew + '/GetResidentOutpatientPreSettlementParam',
                data: cardParam,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                       
                        return false;
                    } else {
                        buttonStatus("ResidentSettlementCard", false);
                        layer.msg('正在操作中请稍等...');
                        // var activeX = document.getElementById("CSharpActiveX");

                       // 门诊居民结算
                        var activeData = activeXNew.OutpatientMethods(data.Data, JSON.stringify(baseInfoNew.HospitalInfo), "ResidentSettlement");
                        var activeJsonData = JSON.parse(activeData);
                        if (activeJsonData.Success === false) {
                            var errorMsg = activeJsonData.Message;
                            msgError(activeJsonData.Message);
                            //if (errorMsg.indexOf('居民门诊统筹余额及转结余额均为零') === -1) {
                               
                            //} else {
                            //    residentOutpatientPreSettlement("");
                            //}
                          
                        } else {
                            residentOutpatientPreSettlement(activeJsonData.Data);
                        }
                    }
                }

            });
        }
     

        $('#CardPwd').bind('keypress', function (event) {
            var settlementValData = $('input[name="Settlement"]:checked').val();

            if (event.keyCode === 13 && settlementValData==="2") {
                workerSettlementCard();
            }//居民有卡报账
            if (event.keyCode === 13 && settlementValData==="4") {
                residentSettlementCard();
            }//居民无卡报账
            if (event.keyCode === 13 && settlementValData==="5") {
                residentSettlementCard();
            }
        });
        //门诊预结算
        $('#DoorDiagnosisPreSettlement').on('click', function () {
            getOutpatientPlanBirthPreSettlementParam();
        });
        //门诊结算
        $('#DoorDiagnosisSettlement').on('click', function () {
          
            //var settlementVal = $('input[name="Settlement"]:checked').val();
            var settlementVal = "1";
            if (settlementVal === "1") {
                params["IsBirthHospital"] = 1;
                //获取结算信息
                var accountPayment = $("#AccountPayment").val();
                if (accountPayment !== "" || accountPayment !== undefined) {
                    //现金支付
                    var cashPayment = $('#CashPayment').val();
                    if (cashPayment !== "" || cashPayment !== undefined) {
                        var insuranceBalance = $("#InsuranceBalance").val();
                        if (parseFloat(accountPayment) > parseFloat(insuranceBalance)) {
                            layer.alert("下账金额不能大于账户余额!!!", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                            return false;
                        }
                        if (parseFloat(accountPayment) > parseFloat(cashPayment)) {
                            layer.alert("下账金额不能大于现金支付金额!!!", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                            return false;
                        } else {
                            params["AccountPayment"] = $("#AccountPayment").val();
                        }
                    }
                }
                //计划生育
                //取消显示结算按钮
                buttonStatus("DoorDiagnosisSettlement", false);
                getOutpatientPlanBirthSettlementParam();
            } else {
                //普通
                //取消显示结算按钮
                buttonStatus("DoorDiagnosisSettlement", false);
                getOutpatientDepartmentCostInputParam();
            }

        });
        //医保电子支付
        $('#OutpatientNationEcTrans').on('click', function () {
            outpatientNationEcTransParam();
        });
        //划卡支付
        $('#SettlementCard').on('click', function () {
            //获取结算信息
            var accountPayment = $("#AccountPayment").val();
            var medicalTreatmentTotalCost = $("#MedicalTreatmentTotalCost").val();
            
            if (parseFloat(accountPayment) > parseFloat(medicalTreatmentTotalCost)) {
                layer.alert("下账金额不能大于合计金额!!!", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                return false;
            }
            if (parseFloat(accountPayment) <=0 ) {
                layer.alert("下账金额必须大于0!!!", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                return false;
            }
            workerSettlementCard();
        });
        //查询
        $('#queryData').on('click', function () {
           
            var settlementVal = $('input[name="Settlement"]:checked').val();
            if (settlementVal === "4" || settlementVal === "5") {
                if ($("#ContactPhone").val() === "") {
                    layer.alert("居民报账联系电话不能为空", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    return false;
                }
            }
            //baseInfoNew.Inpatient.InsuranceType = "342";
            //baseInfoNew.Inpatient.PatientName = "孙支燕";
            //baseInfoNew.Inpatient.IdCardNo = "4721787353615206833";
            //baseInfoNew.Inpatient.CommunityName = "宜宾市翠屏区";   
            //baseInfoNew.HospitalInfo.AfferentSign = "2";
            //baseInfoNew.HospitalInfo.IdentityMark = "1001522187";
            //iniInpatientInfo();
            queryData(getInpatientInfoBack);
            radioChecked();
            settlementRadio = $('input[name="Settlement"]:checked').val();
            $("#queryDataDiv").hide();
           
        });
        //门诊居民结算
        $('#ResidentSettlementCard').on('click', function () {

            residentSettlementCard();
        });
        //诊疗费登记
        $('#MedicalFeeRegistration').on('click', function () {
            layer.confirm('该功能主要用于登记未在基层系统直报且需要报销一般诊疗费的居民，是否继续登记?',
                {
                    title: false,
                    btn: ['是', '否'] //按钮
                },
                function (ind) {
                   
                    residentOutpatientPreSettlement("");
                    buttonStatus("ResidentSettlementCard", false);
                    buttonStatus("MedicalFeeRegistration", false);
                    layer.close(ind);


                },
                function (inds) {
                    layer.close(inds);

                });
           
        });
        //项目对码
        $('#CatalogPairCode').on('click', function () {
            var params =
                "?EmpId=" +
                    $("#empid").val() +
                    "&BId=" +
                $("#bid").val() +
                    "&TransKey=" +
                $("#transkey").val();
            layer.open({
                id: 'OutpatientDirectoryCode',
                type: 2,
                title: '对码信息',
                shadeClose: true, //点击遮罩关闭层
                area: ['980px', '650px'],
                fixed: false, //不固定
                maxmin: true,
                content: hostPage + '/OutpatientDirectoryCode' + params,
                end: function() { //无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
                   
                   
                }
            });
        });
        $('.layui-btn.layui-btn-list').on('click',
            function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        var active = {
            cleanSearch: function () {
                layer.alert('已删除', { icon: 5, title: '错误提示', skin: 'layui-layer-molv' });

            }
        }
        $.ajax({
            type: 'get',
            url: host + '/GetOutpatient',
            data: params,
            dataType: "json",
            async: false,
            success: function (data) {

               
                if (data.Success === false) {
                    var errData = data.Message;
                    //样式类名:墨绿深蓝风
                    layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    return false;

                } else {
                    outpatientData = data.Data;
                    jsonToForm(data.Data, "LAY-form-render"); 
                    
                    $("#ContactPhone").val(data.Data.ContactPhone);
                    $("#AccountPayment").val(data.Data.MedicalTreatmentTotalCost);
                    baseInfo.HospitalInfo.IdentityMark = data.Data.IdCardNo;
                    
                    if (baseInfo.PageFunction.IsSuspend !== 1) {
                    $("#queryDataDiv").show(); 
                    } 
                }
            }
            ,complete: function () {
                form.render();
            }
        });
      
      
    });


</script>
