
@{
    ViewBag.Title = "门诊取消结算";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<link href="~/Content/js/layui/css/modules/layuiAutocomplete.css" rel="stylesheet" />
<script src="~/script/BenDingComm.js"></script>
<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" id="LAY-form" lay-filter="LAY-form-render">

            @{Html.RenderPartial("_CSharpActiveX");}
          
            <div class="layui-card-header layuibd-card-header-auto">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                    <legend>病人信息</legend>
                </fieldset>
                <!--病人信息-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">门诊号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="OutpatientNumber" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IdCardNo" @*lay-verify="required|number"*@ autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">患者姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">就诊日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="VisitDate" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">住院科室</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DepartmentName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">费用合计</label>
                        <div class="layui-input-inline">
                            <input type="text" name="MedicalTreatmentTotalCost" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">现金支付</label>
                        <div class="layui-input-inline">
                            <input type="text" id="CashPayment" name="CashPayment" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    @*<div class="layui-inline">
                    <label class="layui-form-label">报销金额</label>
                   <div class="layui-input-inline">
                   <input type="text" id="ReimbursementExpenses" name="ReimbursementExpenses" autocomplete="off" disabled class="layui-input layui-disabled">
                 </div>
                </div>*@


                    <div class="layui-inline">
                        <label class="layui-form-label">诊断医生</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DiagnosticDoctor" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">经办人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Operator" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    @*<div class="layui-inline">
                    <label class="layui-form-label">发票号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="InvoiceNo" autocomplete="off" disabled class="layui-input layui-disabled">
                    </div>
                </div>*@
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            取消原因
                        </label>
                        <div class="layui-input-inline" style="width:50%">
                            <input type="text" id="CancelSettlementRemarks" name="CancelSettlementRemarks" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="text-align: center;margin-top: 20px;">
                        <button type="button" Id="DoorDiagnosisSettlementCancel" class="layui-btn layui-btn-disabled layui-btn-radius">门诊取消结算</button>
                    </div>
                </div>
                <div class="layui-form-item">

                </div>
                <div class="layui-card-body" lay-size="sm">
                    <fieldset id="SettleData" class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                        <legend>医保结算信息</legend>
                    </fieldset>
                </div>
            </div>

        </form>
    </div>
</div>

<script >
    layui.config({
        base: '/Content/js/layui/plugin/'
    }).extend({
        autocomplete: 'layAutoComplete'
        });
    var iniJs;
    var iniMsg;
    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate', 'autocomplete'], function () {
        var $ = layui.$,
            element = layui.element,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;
        //初始化公共页面
        iniJs = $;
        iniMsg = layer;
        //是否生育结算
        var isBirthHospital = null;
        //结算单据号
        var settlementNo = null;
        //结算类别
        var settlementType = null;
        var insuranceType = null;
        //form数据回显:数据回显到Form表单主体部分
        var jsonToForm = function (jsonData, formFilter) {
            //给表单赋值
            form.val(formFilter,
                {
                    "OutpatientNumber": jsonData.OutpatientNumber,
                    "IdCardNo": jsonData.IdCardNo,
                    "PatientName": jsonData.PatientName,
                    "VisitDate": jsonData.VisitDate,
                    "DepartmentName": jsonData.DepartmentName,
                    "MedicalTreatmentTotalCost": jsonData.MedicalTreatmentTotalCost,
                    "Operator": jsonData.Operator,
                    "ReimbursementExpenses": jsonData.ReimbursementExpensesAmount,
                    "CashPayment": jsonData.SelfPayFeeAmount,
                    "InvoiceNo": jsonData.InvoiceNo,
                    "DiagnosticDoctor": jsonData.DiagnosticDoctor
                });

        }
        var params = {
            "TransKey": $("#transkey").val() /*医保交易码*/,
            "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
            "UserId": $("#empid").val() /*授权操作人的ID*/
        }
        params["timestamp"] = (new Date()).valueOf();
        //插件检查
        var verification = DetectActiveX();
        if (verification === false) {
            return false;
        }
        //数据初始化
        $.ajax({
            type: 'get',
            url: hostNew + '/QueryOutpatientDepartmentCost',
            data: params,
            dataType: "json",
            async: false,
            success: function (data) {
                
                if (data.Success === false) {
                   
                    var errData = data.Message;
                    layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });

                } else {
                    isBirthHospital = data.Data.IsBirthHospital;
                    settlementType = data.Data.SettlementType;
                    insuranceType = data.Data.InsuranceType;
                    settlementNo = data.Data.SettlementNo;
                    jsonToForm(data.Data, "LAY-form-render");
                    if (data.Data.PayMsg !== null) {
                        settlementData(data.Data.PayMsg);
                    }
                    buttonStatus("DoorDiagnosisSettlementCancel", true);

                }
            },
            complete: function () {
                form.render();
            }
        });
        //获取医院基本信息回调方法
        window.getHospitalInfoBack = function () { };
      
        getHospitalInfo(getHospitalInfoBack);
        //获取取消结算参数
        function getCancelOutpatientDepartmentCostParam() {
            params["CancelSettlementRemarks"] = $("#CancelSettlementRemarks").val();
            $.ajax({
                type: 'get',
                url: hostNew + '/GetCancelOutpatientDepartmentCostParam',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    } else {
                        var activeX = document.getElementById("CSharpActiveX");
                        
                        //普通门诊取消结算
                        var activeData;
                        var activeJsonData;
                        if (insuranceType === "342" && settlementNo.length === 19) {
                          
                            CancelOutpatientDepartmentCost();
                            return;
                        }
                        else
                        {
                        //刷卡
                        if (settlementType === "2" && insuranceType === "310") {
                            activeData = activeX.HospitalizationMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo),"WorkerCancelSettlementCard");
                           
                            activeJsonData = JSON.parse(activeData);
                            if (activeJsonData.Success === false) {
                                msgError(activeJsonData.Message);
                            } else {
                                CancelOutpatientDepartmentCost();
                            }
                        }
                        //电子凭证
                        else if (settlementType === "3" && insuranceType==="310") {
                            activeData = activeX.HospitalizationMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo), "WorkerCancelSettlementCard");

                            activeJsonData = JSON.parse(activeData);
                            if (activeJsonData.Success === false) {
                                msgError(activeJsonData.Message);
                            } else {
                                CancelOutpatientDepartmentCost();
                            }
                        }
                        //
                        else if (insuranceType === "342") {
                            if (settlementType === "2" || settlementType === "3") {
                                activeData = activeX.OutpatientMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo), "CancelResidentSettlement");
                                activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                } else {
                                    CancelOutpatientDepartmentCost();
                                }
                            }
                           
                           
                        }//计划生育
                        else if (settlementType ===null) {
                            if (isBirthHospital === 0) {
                                activeData = activeX.OutpatientMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo),"CancelOutpatientDepartmentCost");
                          
                                activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                } else {
                                    CancelOutpatientDepartmentCost();
                                }
                      
                            }
                            //计划生育门诊取消结算
                            if (isBirthHospital === 1) {
                                activeData = activeX.OutpatientMethods(data.Data, JSON.stringify(baseInfo.HospitalInfo),"OutpatientPlanBirthSettlementCancel");
                           
                                activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                } else {
                                    CancelOutpatientDepartmentCost();
                                }
                          
                            } 
                        }
                        }
                    }
                }

            });
        }
        //取消结算方法
        function CancelOutpatientDepartmentCost() {
           
            $.ajax({
                type: 'get',
                url: hostNew + '/CancelOutpatientDepartmentCost',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    } else {

                        layer.alert('门诊取消结算成功', { icon: 6, shade: 0.1, skin: 'layui-layer-molv', title: '温馨提示' });

                      
                    }
                }

            });
        }
        //门诊取消结算
        $('#DoorDiagnosisSettlementCancel').on('click', function () {
            //备注
            var remarks = $("#CancelSettlementRemarks").val();
            if (remarks === "" || remarks === null) {
                msgError("取消结算原因不能为空");
                return false;
            } else
            {
                buttonStatus("DoorDiagnosisSettlementCancel", false);
                getCancelOutpatientDepartmentCostParam();
            }
          

          
        });
    });


</script>
