@{
    ViewBag.Title = "住院费用清单上传";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<script src="~/script/BenDingComm.js"></script>
<div class="layui-tab layui-tab-card layui-tab-brief" lay-filter="tabProject">
    @{Html.RenderPartial("_CSharpActiveX");}
    <ul class="layui-tab-title">
        <li class="layui-this" data-status="0">院内费用明细</li>
        <li data-status="1">已传费用明细</li>
        <li data-status="2">全院费用上传</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <div class="layui-form" lay-filter="LAY-bill-data-list">
                <div class="layui-inline">

                    @*<label class="layui-form-label">限制项目</label>*@

                    <input type="checkbox" title="限制项目" value="1" name="Examine" lay-skin="primary">
                  
                  
                    @*<div class="layui-input-inline">
            <div class="layui-input-block" style="margin-left: 0px">
                <input type="radio" name="Examine" value="1" title="是">
                <input type="radio" name="Examine" value="0" title="否" checked="checked">
            </div>

        </div>*@


                </div>
                <div class="layui-inline" >
                    <label class="layui-form-label">项目名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="DirectoryName" name="DirectoryName" placeholder="项目名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">费用日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="date1" name="BillTime" placeholder="费用日期" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">上传状态</label>
                    <div class="layui-input-inline">
                        <select id="UploadMark" name="UploadMark"  lay-filter="UploadMark" >
                            <option value="" selected="selected">请选择上传状态</option>
                            <option value="0">未上传</option>
                            @*<option value="1">已上传</option>*@
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn"  id="QueryInHospital" lay-submit lay-filter="LAY-bill-data-list">查询</button>
                    <button class="layui-btn"  id="DeleteCenterLibraryData">清除数据</button>
                    <button class="layui-btn"  id="renewalCost" lay-submit lay-filter="renewalCost">更新费用</button>
                    <button class="layui-btn"  id="allUpload" lay-submit lay-filter="allUpload">全部上传</button>
                </div>
            </div>
            <!--院内费用明细列表-->
            <table id="dataTableBillId" lay-filter="dataTableBillId"></table>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="baseDirectoryName" name="DirectoryName" placeholder="项目名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">费用日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="date2" name="BillTime" placeholder="费用日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" id="QueryUploadComplete" lay-submit lay-filter="LAY-updated-data-list">查询</button>
                        @*<button class="layui-btn" data-type="cleanSearch">清除</button>*@
                    </div>
                </div>
            </div>
            <table id="dataTableUpdatedId" lay-filter="dataTableUpdatedId"></table>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">查询关键字</label>
                        <div class="layui-input-inline">
                            <input type="text" id="SearchKey" name="SearchKey" placeholder="姓名/住院号/身份证" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" id="OrganizationSearch">查询</button>
                        <button class="layui-btn" id="OrganizationUpdate">更新全院数据</button>
                        @*<button id="OrganizationUploadData"  class="layui-btn">上传全院数据</button>*@
                        <button id="OrganizationUploadData" disabled class="layui-btn layui-btn-disabled layui-btn-radius">上传全院数据</button>
                    </div>
                </div>
            </div>
            <table id="dataTableOrganization" lay-filter="dataTableOrganization"></table>
        </div>
    </div>
   
   
</div>


<script>
    layui.config({
        base: '/Content/js/layui/plugin/' //假设这是test.js所在的目录
    }).extend({ //设定模块别名
        autocomplete: 'layAutoComplete'
    });
    var iniJs;
    var iniMsg;

    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate', 'autocomplete'], function () {
        var $ = layui.$
            //Tab的切换功能，切换事件监听等，需要依赖element模块
            , element = layui.element
            , form = layui.form
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate;
        //初始化公共页面
        iniJs = $;
        iniMsg = layer;
        //执行一个laydate实例
        //laydate.render({ elem: '#date1' });
        //laydate.render({ elem: '#date2' });
        laydate.render({ elem: '#date1', range: true });
        laydate.render({ elem: '#date2', range: true });
        //是否初始化加载数据
        var isLoad = true;
        $("#batchExamineData").hide();
        //替换特殊字符
        function replaceValueChar(objVal) {
    
            var patternStr = '!,#,$,%,^,&,*,(,),-,+,_,=,:';
            iniJs.each(patternStr.split(','), function (key, val) {
        
                objVal= objVal.replace(val, '');
            });
            return objVal;
        }
        //---------------------
        //初始查询
        getList('0');
        //tab切换触发
        element.on('tab(tabProject)', function () {
            var status = $(this).attr('data-status');
            getList(status);
        });
     
        function getList(status) {
               
            switch (status) {
            case '0':
                //院内费用明细
                 inHospitalContentsTable();
                //初始化后默认刷新数据取消
                isLoad = false;
                break;
            case '1':
                //已传费用明细
                uploadCompleteContentsTable();
                    break;
            case '2':
                //上传组织机构数据
                uploadOrganizationContentsTable();
                break;
            }
            form.render();
        }

        //////插件检查
        //var verification = DetectActiveX();
        //if (verification === false) {
        //    return false;
        //}
        //获取医院基本信息回调方法
        window.getHospitalInfoBack = function () { };

        getHospitalInfo(getHospitalInfoBack);
        //未传
        function inHospitalContentsTable() {
            var params = {
                "UploadMark": $("#UploadMark").val() /*上传状态*/
                , "DirectoryName": $("#DirectoryName").val()  /*药品名称*/
                , "BillTime": $("#date1").val() /*费用日期*/
                , "BusinessId": $("#bid").val() /*业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
                , "TransKey": $("#transkey").val()
                ,"IsLoad": isLoad
            }
                var examine = $('input[name="Examine"]:checked').val();
                if (examine === "1") {
                    params["IsExamine"] = 1;
                    $("#batchExamineData").show();
                } else {

                    $("#batchExamineData").hide();
                }
            table.render({
                elem: '#dataTableBillId',
                id: 'dataTableBillId',
                limits: [10, 20, 50],
                url: host + '/QueryHospitalizationFee',
                page: true,
                where: params,
                 parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.Code,
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    },
                toolbar: '#toolbarOne',
                cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { title: '序号', type: 'numbers', align: 'center' }
                    , { field: 'UploadMark', title: '上传状态', width: 100, toolbar: '#tableBtn', align: 'center' }
                    , { field: 'ApprovalMark', title: '审核状态', width:100, toolbar: '#tableApprovalMarkBtn', align: 'center' }
                    , { field: 'DirectoryCode', title: '医院目录编码(商品ID)', width: 320, hide: true }
                    , { field: 'DirectoryName', title: '项目名称', width: 280 }
                    , { field: 'DirectoryCategoryCode', title: '项目类别', width: 100 }
                    , { field: 'Quantity', title: '数量', width: 100, edit: 'text'}
                    , { field: 'UnitPrice', title: '单价', width: 100 }
                    , { field: 'Amount', title: '金额', width: 100, edit: 'text' }
                    , { field: 'BillTime', title: '费用日期', width: 160 }
                    , { field: 'RecipeCode', title: '处方号', width: 310, hide: true }
                    , { field: 'BillDepartment', title: '科室', width: 100 }
                    , { field: 'OperateDoctorName', title: '执行医生', width: 100, hide: true }
                    , { field: 'ManufacturerName', title: '基层生产厂家', width:200 }
                    , { field: 'ApprovalUserName', title: '审核医生', width: 100, hide: true }
                    , { field: 'ProjectCode', title: '医保编码', width: 100 }
                    , { field: 'ProjectName', title: '医保名称', width:180 }
                    , { field: 'Manufacturer', title: '医保生产厂家', width:200 }
                    , { field: 'ProjectCodeType', title: '医保类别', width: 100 }
                    , { field: 'UploadAmount', title: '医保上传金额', width: 100 }
                    , { field: 'ProjectLevel', title: '项目等级', width: 100 }
                    , { field: 'SelfPayProportion', title: '自付比例', width: 100 }
                    , { field: 'BlockPrice', title: '限制价格', width: 100 }
                    , { field: 'BlockRemark', title: '限制使用说明', width: 100 }
                    , { field: 'Specification', title: '规格', width: 100 }
                
                    , { width: 150, align: 'center', title: '操作', toolbar: '#tablePairCode', fixed: 'right'}

                ]]
            });
            queryHospitalizationFeeAmount();
        }
        //已传费用明细
        function uploadCompleteContentsTable() {
            
            var uploadParam = {
                "UploadMark": "1" /*上传状态*/
                , "DirectoryName": $("#baseDirectoryName").val() /*药品名称*/
                , "BillTime": $("#date2").val() /*费用日期*/
                , "BusinessId": $("#bid").val() /*业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
                , "TransKey": $("#transkey").val()
            }
            table.render({
                elem: '#dataTableUpdatedId'
                , id: "dataTableUpdatedId"
                , url: host + '/QueryHospitalizationFee'
                , where: uploadParam
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.Code,
                        "count": res.Data.count, //解析数据长度
                        "data": res.Data.data //解析数据列表
                    };
                }
                , limits: [10, 20, 50]
                , toolbar: '#uploadToolBarOne'
                , page: true
                , cols: [[

                    { title: '序号', type: 'numbers', align: 'center' },
                    { field: 'UploadMark', title: '上传状态', width: 100, toolbar: '#tableBtn', align: 'center' },
                    { field: 'BatchNumber', title: '医保批次号', width: 150 },
                    { field: 'DirectoryCode', title: '医院目录编码(商品ID)', width: 320, hide: true },
                    { field: 'DirectoryName', title: '项目名称', width: 200 },
                    { field: 'DirectoryCategoryCode', title: '项目类别', width: 100 },
                    { field: 'Quantity', title: '数量', width: 100 },
                    { field: 'UnitPrice', title: '单价', width: 100 },
                    { field: 'Amount', title: '金额', width: 100 },
                    { field: 'BillTime', title: '费用日期', width: 160 },
                    { field: 'BillDepartment', title: '科室', width: 100 },
                    { field: 'DetailId', title: '处方流水号', width: 250, hide: true },
                    { field: 'OperateDoctorName', title: '执行医生', width: 100, hide: true },
                    { field: 'UploadUserName', title: '上传操作员', width: 100 },
                    { field: 'UploadTime', title: '上传时间', width: 100 },
                    { field: 'ProjectCode', title: '医保编码', width: 100 },
                    { field: 'ProjectCodeType', title: '医保类别', width: 100 },
                    { field: 'UploadAmount', title: '医保上传金额', width: 100 },
                    { field: 'ProjectLevel', title: '项目等级', width: 100 },
                    { field: 'SelfPayProportion', title: '自付比例', width: 100 },
                    { field: 'BlockPrice', title: '限制价格', width: 100 },
                    { field: 'BlockRemark', title: '限制使用说明', width: 100 },
                    { field: 'Specification', title: '规格', width: 100 }
                ]]
            });
            queryHospitalizationFeeAmount();
        }

        function uploadOrganizationContentsTable() {
            var uploadParam = {
               
                "UserId": $("#empid").val() /*授权操作人的ID*/
                , "SearchKey": $("#SearchKey").val()
            }
            table.render({
                elem: '#dataTableOrganization'
                , id: "dataTableOrganization"
                , url: hostNew + '/QueryOrganizationInpatientInfo'
                , where: uploadParam
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.Code,
                        "count": res.Data.count, //解析数据长度
                        "data": res.Data.data //解析数据列表
                    };
                }
                , limits: [10, 20, 50]

                , page: true
                , cols: [[

                    { title: '序号', type: 'numbers', align: 'center' },
                    { field: 'PatientName', title: '病人姓名', width: 130 },
                    { field: 'IdCardNo', title: '身份证号', width: 200 },
                    { field: 'HospitalizationNo', title: '住院号', width: 200 },
                    { field: 'AdmissionDate', title: '入院登记时间', width: 200 },
                    { field: 'AllNum', title: '合计条数', width: 100 },
                    { field: 'UploadNum', title: '上传条数', width: 100 },
                    { field: 'NotUploadNum', title: '未上传条数', width: 100 },
                    { field: 'BusinessId', title: '业务id', width: 250, hide: true }
                  
                ]]
            });
         
        }
        function getPrescriptionAllUploadParam(businessId) {
            var uploadParam = {
                "BusinessId": businessId /*当前住院记录的业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
                , "DataIdList": null
                , "TransKey": $("#transkey").val()
               
            }
            $.ajax({
                type: 'POST',
                url: hostNew + '/GetPrescriptionUploadParam',
                async: false,
                data: JSON.stringify(uploadParam),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);

                        //样式类名:墨绿深蓝风
                    } else {

                        var uploadData = data.Data.UploadList;
                        if (uploadData !== undefined && uploadData !== null && uploadData.length > 0) {
                            var activeX = document.getElementById("CSharpActiveX");
                            for (var i = 0; i < uploadData.length; i++) {

                                var uploadDataParam = uploadData[i];
                                var activeData = activeX.HospitalizationMethods(JSON.stringify(uploadDataParam), JSON.stringify(baseInfo.HospitalInfo), "PrescriptionUploadData");
                                var activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                    return false;
                                }
                                else {
                                    uploadParam["ProjectBatch"] = activeJsonData.Data;
                                    uploadParam["UploadData"] = uploadDataParam;
                                    prescriptionUploadDatas(uploadParam);
                                }
                            }
                        } 


                    }
                }
            });

        }
        ////监听Tab-已传费用明细
        $('#QueryUploadComplete').on('click',
            function () {
              
               
                uploadCompleteContentsTable();
            });
        //费用合计查询
        function queryHospitalizationFeeAmount () {
            var amountParam = {
                "BusinessId": $("#bid").val() /*业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
                , "TransKey": $("#transkey").val()

            }
         
            $.ajax({
                type: 'POST',
                url: host + '/QueryHospitalizationFeeAmount',
                async: false,
                data: JSON.stringify(amountParam),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                    } else {
                     
                        $("#UploadAllAmount").text("已传合计: " + data.Data.UploadAllAmount);
                        $("#AllAmount").text("费用合计: " + data.Data.Amount);
                        $("#UnUploadAllAmount").text("未传合计: " + data.Data.UnUploadAllAmount);
                        $("#AllNum").text("总条数: " + data.Data.AllNum);
                        $("#UploadNum").text("已传条数: " + data.Data.UploadNum);
                    }
                }
            });
        }
        ////*处方明细查询*/
        $('#QueryInHospital').on('click',
            function () {
                inHospitalContentsTable();
            });
        //全院数据查询
        $('#OrganizationSearch').on('click',
            function () {
                uploadOrganizationContentsTable();
            });
        //更新全院数据
        $('#OrganizationUpdate').on('click',
            function () {
                var uploadParam = {
                     "UserId": $("#empid").val() /*授权操作人的ID*/
                }
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/UpdateOrganizationData',
                    async: false,
                    data: JSON.stringify(uploadParam),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            msgError(errData);
                            //样式类名:墨绿深蓝风
                        } else {
                            buttonStatus("OrganizationUploadData", true);
                            msgSuccess("更新完成!!!");
                        }


                    }
                });
            });
        //上传全院数据
        $('#OrganizationUploadData').on('click',
            function () {
               
                var uploadParam = {
                    "UserId": $("#empid").val() /*授权操作人的ID*/
                }
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/GetOrganizationNotUploadCostInpatient',
                    async: false,
                    data: JSON.stringify(uploadParam),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            msgError(errData);
                            //样式类名:墨绿深蓝风
                        } else {
                            buttonStatus("OrganizationUploadData", false);
                            layer.msg('正在操作中请稍等...');
                            if (data.Data !== null && data.Data.length > 0) {
                                for (var i = 0; i < data.Data.length; i++) {
                                  
                                    getPrescriptionAllUploadParam(data.Data[i]);
                                }
                              
                            }
                         
                        }
                        

                    }
                });
            });
       //删除费用
        $('#DeleteCenterLibraryData').on('click',
            function () {

                var deleteParam = {
                    "BusinessId": $("#bid").val() /*业务ID*/
                    , "UserId": $("#empid").val() /*授权操作人的ID*/
                    , "TransKey": $("#transkey").val()

                }
                $.ajax({
                    type: 'POST',
                    url: hostNew + '/DeleteCenterLibraryData',
                    async: false,
                    data: JSON.stringify(deleteParam),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            msgError(errData);
                            //样式类名:墨绿深蓝风
                        } else {
                            inHospitalContentsTable();
                        }
                        

                    }
                });
            });

        //处方上传（费用清单上传）
        var prescriptionUpload = function (tableData) {
            getPrescriptionUploadParam(tableData);

        }
        function batchExamineData(tableData, batchExamineSign) {
            var uploadParam = {
                "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
                , "DataIdList": tableData
                , "TransKey": $("#transkey").val()
                , "BatchExamineSign": batchExamineSign
            }
            $.ajax({
                type: 'POST',
                url: hostNew + '/BatchExamineData',
                async: false,
                data: JSON.stringify(uploadParam),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                        //样式类名:墨绿深蓝风
                    } else {
                        inHospitalContentsTable();
                        msgSuccess("审核成功!!!");
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        }
        //调整差值
        function adjustmentDifferenceValue(valueParam) {
           
            $.ajax({
                type: 'POST',
                url: hostNew + '/AdjustmentDifferenceValue',
                async: false,
                data: JSON.stringify(valueParam),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                      
                    } else {
                        inHospitalContentsTable();
                        msgSuccess("操作成功!!!");

                    }
                        

                }
            });
        }
        //不传医保操作
        function notUploadMark(uploadId) {
            var uploadParam = {
                "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
                , "IdList": uploadId
                , "TransKey": $("#transkey").val()
            }
            $.ajax({
                type: 'POST',
                url: hostNew + '/NotUploadMark',
                async: false,
                data: JSON.stringify(uploadParam),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                        //样式类名:墨绿深蓝风
                    } else {
                        inHospitalContentsTable();
                       
                    }
                }
            });
        }
        //初始查询
        function getDirectoryCategoryTypeCode(categoryName) {
            var code = null;
            switch (categoryName) {
            case "中药":
                code = "0";
                break;
            case "西药":
                code = "1";
                break;
            case "诊疗":
                code = "2";
                break;
            case "耗材":
                code = "3";
                break;
            }
                   

        }
        //头工具栏事件
        table.on('toolbar(dataTableBillId)', function (obj) {
         
            var checkStatus = table.checkStatus(obj.config.id);
            var data;
            var dataIds = [];
            
            switch (obj.event) {
                case 'batchUpdateData':

                    data = checkStatus.data; //选中行的数据
                    //排除已经上传了的数据

                    for (var i in data) {
                        if (data[i].UploadMark === 0) {
                            dataIds.push(data[i].Id);
                        }
                    }
                    //layer.msg('选中了：' + dataIds.length + ' 个未上传的数据');
                    prescriptionUpload(dataIds);
                    break;
                case "batchExamineData":
                    
                    data = checkStatus.data; //选中行的数据
                    if (data.length === 0)
                    {
                        msgError("请勾选具体选项!!!");
                        return false;
                    } 
                    //排除已经上传了的数据
                    for (var i in data) {
                        if (data.hasOwnProperty(i)) {
                            if (data[i].UploadMark === 0) {
                                dataIds.push(data[i].Id);
                            }
                        }
                    }
                    //layer.msg('选中了：' + dataIds.length + ' 个未上传的数据');
                    batchExamineData(dataIds,1);
                  
                    break;
                case "batchUnExamineData":
                    data = checkStatus.data; //选中行的数据
                    if (data.length === 0)
                    {
                        msgError("请勾选具体选项!!!");
                        return false;
                    } 
                    //排除已经上传了的数据
                    for (var i in data) {
                        if (data.hasOwnProperty(i)) {
                            if (data[i].UploadMark === 0) {
                                dataIds.push(data[i].Id);
                            }
                        }
                    }
                    //layer.msg('选中了：' + dataIds.length + ' 个未上传的数据');
                    batchExamineData(dataIds,2);
                    break;
                    
                case "UpdateFeeData": 
                    var dataValue = checkStatus.data; //选中行的数据
                 
                    if(dataValue.length === 0)
                    {
                        msgError("请勾选调整选项!!!");
                        return false;
                    } 
                    if (dataValue.length > 1) {
                        msgError("调整费用只能单条调整!!!");
                        return false;
                    } else {
                       
                        if (dataValue[0].UploadMark === 1) {
                            msgError("已传费用不能调整!!!");
                            return false;
                        }
                        if (dataValue[0].ProjectCode === "" || dataValue[0].ProjectCode === null) {
                            msgError("未对码不能调整!!!");
                            return false;
                        }
                      
                        var projectCodeTypeValue = dataValue[0].ProjectCodeType;
                        if (projectCodeTypeValue === "中草药" ||
                            projectCodeTypeValue === "西药费" ||
                            projectCodeTypeValue === "中成药" ||
                            projectCodeTypeValue === "材料费")
                        {
                            var valueParam = {
                                "Id": dataValue[0].Id,
                                "Amount": dataValue[0].Amount,
                                "Quantity": dataValue[0].Quantity,
                                "UnitPrice": dataValue[0].UnitPrice,
                                "UserId": $("#empid").val() /*授权操作人的ID*/,
                                "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/
                              
                            };
                            adjustmentDifferenceValue(valueParam);
                          
                        } else {
                            msgError("只能调整药费或者材料费项目!!!");
                            return false;
                        }
                        
                    }
                    break;

            };
        });
        //监听行工具事件
        table.on('tool(dataTableBillId)', function (obj) {
         
            var data = obj.data;
            var dataIds = [];
            if (obj.event === 'PairCode'){
               var directoryName = replaceValueChar(data.DirectoryName);
                //var directoryName =data.DirectoryName;
                var directoryCode = data.DirectoryCode;
              
                var manufacturerName = data.ManufacturerName;
                var params =
                    "?UserId=" +
                        $("#empid").val() +
                        "&ProjectName=" +
                        directoryName +
                        "&ProjectCode=" +
                        directoryCode +
                        "&Manufacturer=" +
                        manufacturerName;

                layer.open({
                    id: 'medicalDirectoryPairCode',
                    type: 2,
                    title: '对码信息',
                    shadeClose: true, //点击遮罩关闭层
                    area: ['1080px', '540px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: hostPage + '/MedicalDirectoryPairCode' + params,
                    end: function() { //无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
                       inHospitalContentsTable();
                    }
                });
               
            }
            if (obj.event === 'UnUploadData') {
                //var directoryName = data.Id;
                dataIds.push(data.Id);
                notUploadMark(dataIds);
            }
        });
        ////页面初始化加载默认数据
        //$(function () {
        //    tableDataLoad(layTableId);
        //});
        //更新状态查询
        form.on('select(UploadMark)', function(data){   
            inHospitalContentsTable();

        });
        //数据回写
        function prescriptionUploadDatas(uploadParam) {

            $.ajax({
                type: 'POST',
                url: hostNew + '/PrescriptionUpload',
                async: false,
                data: JSON.stringify(uploadParam),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                        //样式类名:墨绿深蓝风
                    }


                }
            });
        }

        function getPrescriptionUploadParam(tableData) {
           
            var uploadParam = {
                 "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
                , "DataIdList": tableData
                , "TransKey": $("#transkey").val()
                
            }
            $.ajax({
                type: 'POST',
                url: hostNew + '/GetPrescriptionUploadParam',
                async: false,
                data: JSON.stringify(uploadParam),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        msgError(errData);
                        //样式类名:墨绿深蓝风
                    } else {
                        var uploadData = data.Data.UploadList;
                        if (uploadData !== undefined && uploadData !== null && uploadData.length > 0) {
                            var activeX = document.getElementById("CSharpActiveX");
                            for (var i = 0; i < uploadData.length; i++) {
                                var uploadDataParam = uploadData[i];
                                var activeData = activeX.HospitalizationMethods(JSON.stringify(uploadDataParam), JSON.stringify(baseInfo.HospitalInfo), "PrescriptionUploadData");
                                var activeJsonData = JSON.parse(activeData);
                                if (activeJsonData.Success === false) {
                                    msgError(activeJsonData.Message);
                                }
                                else {
                                    uploadParam["ProjectBatch"] = activeJsonData.Data;
                                    uploadParam["UploadData"] = uploadDataParam;
                                    prescriptionUploadDatas(uploadParam);
                                }
                            }
                        }
                        //else {
                        //    msgError("获取上传数据失败!!!");
                        //    return false;
                        //}
                        inHospitalContentsTable();

                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        }

        //更新费用
        form.on('submit(renewalCost)', function (data) {
            $.ajax({
                url: host + "/GetInpatientInfoDetail?UserId=" + $("#empid").val() + "&BusinessId=" + $("#bid").val(),
                dataType: "json",
                type: 'get',
                success: function (res) {
                    if (data.Success === false) {
                        var errData = data.Message;
                        layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                    } else {
                        layer.alert(res.Data, { icon: 6, shade: 0.1, skin: 'layui-layer-molv', title: '温馨提示' });
                        ////刷新查询
                        //tableDataLoad(layTableId);

                        inHospitalContentsTable();
                    }
                }

            });
        });
        //医保费用上传
        form.on('submit(allUpload)', function (data) {
            getPrescriptionUploadParam(null);
          
        });
       
     

    });


</script>

<script type="text/html" id="toolbarOne">

    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" id="batchUpdateData" lay-event="batchUpdateData">批量上传</button>
        <button class="layui-btn layui-btn-sm" id="batchExamineData" lay-event="batchExamineData">批量审核通过</button>
        <button class="layui-btn layui-btn-sm" id="batchUnExamineData" lay-event="batchUnExamineData">批量审核不通过</button>
        <button class="layui-btn layui-btn-sm" id="UpdateFeeData" lay-event="UpdateFeeData">调整费用</button>
        <button type="button" id="AllAmount" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left: 15%">费用合计:</button>
        <button type="button" id="AllNum" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left: 10px">总条数:</button>
        <button type="button" id="UnUploadAllAmount" class="layui-btn layui-btn-primary layui-btn-sm"  style="margin-left: 10%">未传合计:</button>
        <button type="button" id="UploadNum" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left: 10px">已传条数:</button>
    </div>
  
</script>
<script type="text/html" id="uploadToolBarOne">

    <div class="layui-btn-container">
        <button type="button" id="UploadAllAmount" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left: 30%">已传合计:</button>
       
    </div>

</script>
<script type="text/html" id="tablePairCode">
    <a class="layui-btn layui-btn-xs" lay-event="PairCode">对码</a>
    <a class="layui-btn layui-btn-xs" lay-event="UnUploadData">不传医保</a>
</script>

<script type="text/html" id="tableBtn">
   
    {{# if(d.UploadMark == 0){ }}
    <a class="layui-btn layui-btn-warm layui-btn-xs">未上传</a>
    {{# } else { }}
    <a class="layui-btn layui-btn-xs">已上传</a>
    {{# }}}
</script>

<script type="text/html" id="tableApprovalMarkBtn">
    {{#  if(d.ApprovalMark == 0){ }}
    <a class="layui-btn layui-btn-warm layui-btn-xs">未审核</a>
    {{# }}}
    {{#  if(d.ApprovalMark == 1){ }}
    <a class="layui-btn layui-btn-xs">通过</a>
    {{# }}}
    {{#  if(d.ApprovalMark == 2){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs">不通过</a>

    {{# }}}
</script>

