@{
    ViewBag.Title = "医保目录对码";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<style>
    .layui-card-header.layui-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }
    .layui-table-body {
        overflow-y: scroll;
    } 

</style>
<div class="demoTable">
    <div class="layui-form layui-card-header layui-card-header-auto" style="padding-bottom: 0px" lay-filter="data-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">目录类别</label>
                <div class="layui-input-inline">
                    <select name="ProjectCodeType" id="ProjectCodeTypeData">
                        <option value="">请选择类别</option>
                        <option value="0">中药</option>
                        <option value="1">西药</option>
                        <option value="2">诊疗</option>
                        <option value="3">耗材</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">医保编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="ProjectCode" name="ProjectCode" placeholder="医保项目编码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">医保名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="ProjectName" name="ProjectName" value="@ViewBag.DirectoryName" placeholder="医保项目名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">生产厂家</label>
                <div class="layui-input-inline">
                    <input type="text" id="Manufacturer" name="Manufacturer"  placeholder="生产厂家" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">国药准字号</label>
                <div class="layui-input-inline">
                    <input type="text" id="QuasiFontSize" name="QuasiFontSize" placeholder="国药准字号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="dataSearch" data-type="dataSearch">查询</button>
            </div>
            <input type="hidden" id="empid" value="@ViewBag.empid" />
            <input type="hidden" id="DirectoryCode" value="@ViewBag.DirectoryCode" />
            <input type="hidden" id="DirectoryCategoryCode" value="@ViewBag.DirectoryCategoryCode" />
        </div>
    </div>
    <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
</div>


<script>
    layui.use(['table','form'], function () {
        var $ = layui.$
            , table = layui.table
            , form = layui.form;
        form.render(null, 'data-form');

        function iniDirectoryCategoryCode() {
            var directoryCategoryCodeValue = $("#DirectoryCategoryCode").val();
            if ($("directoryCategoryCodeValue") !== null && $("directoryCategoryCodeValue") !== "") {
                $("#ProjectCodeTypeData").val(directoryCategoryCodeValue);
                form.render();
            }
        }

        iniDirectoryCategoryCode(); 
        //方法级渲染
        table.render({
            elem: '#dataTable'
            , url: host +'/QueryProjectDownload' //数据接口
            , where: {
                UserId: $("#empid").val() //必传参数
                , ProjectName: $("#ProjectName").val()
                , ProjectCodeType: $("#ProjectCodeType").val()
                , ProjectCode: $("#ProjectCode").val()
                , QuasiFontSize: $("#QuasiFontSize").val()
                , Manufacturer: $("#Manufacturer").val()
            }
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.Code, //解析接口状态
                    "msg": res.Message, //解析提示文本
                    "count": res.Data.count, //解析数据长度
                    "data": res.Data.data //解析数据列表
                };
            }
            , cols: [[
                { type: 'numbers', fixed: 'left' }
                , { title: '对码', toolbar: '#tableCodeBtn', width: 100 ,align: 'center', fixed: true }
                , { field: 'PairCodeId', title: '对码ID', width: 160, hide: true }
                , { field: 'ProjectCode', title: '医保项目编码', width: 160 }
                , { field: 'ProjectName', title: '医保项目名称', width: 160, sort: true }
                , { field: 'ProjectCodeType', title: '医保类别', width: 100 }
                , { field: 'ProjectLevel', title: '项目等级', width: 160 }
                , { field: 'Manufacturer', title: '生产厂家', width: 300 }
                , { field: 'QuasiFontSize', title: '国药准字号', width: 150}
                //, { field: 'Unit', title: '单位', width: 100 }
                , { field: 'Specification', title: '规格', width: 100 }
                , { field: 'Formulation', title: '剂型', width: 160 }
                , { field: 'RestrictionSign', title: '限制用药标志', width: 100 }
                , { field: 'NewCodeMark', title: '新码标志', width: 100 }
                , { field: 'LimitPaymentScope', title: '限制支付范围', width: 100 }
                , { field: 'StartTime', title: '开始时间', width: 160 }
                , { field: 'EndTime', title: '结束时间', width: 160 }
            ]]
            , height: $(window).height() - 128
            , page: true
            , id: 'dataTable'
        });

        //监听搜索
        form.on('submit(dataSearch)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('dataTable', {
                where: field
            });
        });

        //监听工具条
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            var userId = $("#empid").val();
            //获取HIS编码DirectoryCode            
            var directoryCode = $("#DirectoryCode").val();
            //医院目录类别
            var directoryCategoryCode = $("#DirectoryCategoryCode").val();
            //医保编码
            var projectCode = data.ProjectCode;
            //已对码ID
            var pairCodeId = "";
            if (data.PairCodeId !== undefined)
            {
                pairCodeId = data.PairCodeId;
            }
            var medicalInsurancePairCodeUiParam = {
                DirectoryCode: directoryCode,
                DirectoryCategoryCode: directoryCategoryCode,
                ProjectCode: projectCode,
                PairCodeId: pairCodeId
            };
            var pairCodeList = []; //对码数据
            pairCodeList.push(medicalInsurancePairCodeUiParam);
            var sendData = { PairCodeList: pairCodeList, UserId:userId };
            if (obj.event === 'pairCodeTo') {
                $.ajax({
                    url: host +'/MedicalInsurancePairCode',
                    type: 'POST',
                    data: JSON.stringify(sendData),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            layer.msg('对码失败\n' + errData, { time: 2000, icon: 5 });
                        } else {
                            layer.alert('对码成功', { icon: 6, title: '温馨提示', shade: 0.1, skin: 'layui-layer-molv' });
                           
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    }
                });
            } else {
                
                layer.alert('数据不一致，请查证！', { icon: 5,title: '错误提示',skin: 'layui-layer-molv' });
               
            }
            return false;
        });

        
        var $ = layui.$, active = {
            dataSearch: function () {
                //执行重载
                table.reload('dataTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        UserId: $("#empid").val() //必传参数
                        , ProjectName: $("#ProjectName").val()
                        , ProjectCodeType: $("#ProjectCodeType").val()
                        , ProjectCode: $("#ProjectCode").val()
                        , MnemonicCode: $("#MnemonicCode").val()
                    }
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>


<script type="text/html" id="tableCodeBtn">
    <a class="layui-btn layui-btn-xs" lay-event="pairCodeTo"> 对码 @*<i class="layui-icon layui-icon-add-1"></i>*@</a>
</script>
