
@{
    ViewBag.Title = "门诊数据调差";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<link href="~/Content/js/layui/css/modules/layuiAutocomplete.css" rel="stylesheet" />
<div id="card-container" style="overflow: hidden !important;">
    <input type="hidden" id="bid" name="BusinessId" value="@ViewBag.bid" placeholder="业务ID" />
    <input type="hidden" id="empid" name="UserId" value="@ViewBag.empid" placeholder="用户ID" />
    <input type="hidden" id="transkey" name="TransKey" value="@ViewBag.transkey" placeholder="医保交易id" />

    <form class="layui-form" id="LAY-form" lay-filter="LAY-form-render">
        <!--搜索部分-->
        <div class="layui-form-item">
         
            <table class="layui-hide" id="AdjustmentDifferenceTable" lay-filter="AdjustmentDifferenceTable"></table>
        </div>
    </form>
</div>
<script type="text/html" id="AdjustToolBarOne">

    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" id="UpdateOutpatientFeeData" lay-event="UpdateOutpatientFeeData">调整费用</button>
        <button type="button" id="NewAmount" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left: 30%">费用合计:</button>
        <button type="button" id="MedicalInsuranceTotalCost" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left: 10px">医保费用合计:</button>
    </div>

</script>
<script>
    layui.config({
        base: '/Content/js/layui/plugin/' //假设这是test.js所在的目录
    }).extend({ //设定模块别名
        autocomplete: 'layAutoComplete'
    });
    layui.use(['form', 'laypage', 'layer', 'table', 'element'],
        function () {
            var $ = layui.$,
                element = layui.element,
                form = layui.form,
                layer = layui.layer,
                table = layui.table;
          
            function adjustmentTableQuery() {
               
                var tableWhere = {
                    UserId: $("#empid").val(),
                    BusinessId: $("#bid").val(),
                    TransKey: $("#transkey").val(),
                    timestamp: (new Date()).valueOf()
                };
                //医院目录
                table.render({
                    elem: '#AdjustmentDifferenceTable',
                    Id: 'AdjustmentDifferenceTable',
                    height: $(window).height() - 128,
                    url: hostNew + '/OutpatientDetailQuery' //数据接口
                    , where: tableWhere,
                    parseData: function (res) { //res 即为原始返回的数据
                        if (res.Data != null) {
                            $("#NewAmount").text("费用合计: " + res.Data.NewAmount);
                            $("#MedicalInsuranceTotalCost").text("医保费用合计: " + res.Data.MedicalInsuranceTotalCost);
                        }
                        return {
                            "code": res.Code, //解析接口状态
                            "msg": res.Message, //解析提示文本
                            "count": res.Data.count, //解析数据长度
                            "data": res.Data.data //解析数据列表
                        };
                    }
                    , toolbar: '#AdjustToolBarOne',
                    cols: [
                        [//表头
                            { type: 'checkbox', fixed: 'left' },
                            { title: '序号', type: 'numbers', align: 'center' },
                            { field: 'DirectoryName', title: '名称', width: 200 },
                            { field: 'UnitPrice', title: '单价', width: 100 },
                            { field: 'Quantity', title: '数量', width: 100, edit: 'text'},
                            { field: 'Amount', title: '金额', width: 100, edit: 'text'},
                            { field: 'Specification', title: '规格', width: 100 }
                           
                        ]
                    ]
                });
                form.render();
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可
            }
            adjustmentTableQuery();
            //门诊调差
            function outpatientAdjustmentDifferenceValue(adjustmentParams) {
          

                $.ajax({
                    type: 'POST',
                    url: hostNew + '/OutpatientAdjustmentDifferenceValue',
                    data: adjustmentParams,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data.Success === false) {
                            var errData = data.Message;
                            layer.alert(errData, { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                        } 
                    }

                });
            }
            //头工具栏事件
            table.on('toolbar(AdjustmentDifferenceTable)', function (obj) {

                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    
                    case "UpdateOutpatientFeeData":
                       
                        var dataValue = checkStatus.data; //选中行的数据

                        if (dataValue.length === 0) {
                            //样式类名:墨绿深蓝风
                            layer.alert("请勾选调整选项!!!", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                            break;

                        }
                        if (dataValue.length > 1) {
                            layer.alert("调整费用只能单条调整!!!", { skin: 'layui-layer-molv', icon: 5, title: '错误提示' });
                            break;
                        } else {

                            
                            var adjustmentParams = {
                                "TransKey": $("#transkey").val() /*医保交易码*/,
                                "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/,
                                "UserId": $("#empid").val() /*授权操作人的ID*/,
                                "DetailId": dataValue[0].DetailId,
                                "OutpatientNo": dataValue[0].OutpatientNo,
                                "Amount": dataValue[0].Amount,
                                "Quantity": dataValue[0].Quantity
                            }
                           
                            outpatientAdjustmentDifferenceValue(adjustmentParams);
                            break;
                        }
                        
                       

                };
                adjustmentTableQuery();  
            });

        });


</script>



