

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!DOCTYPE html>
<script>

    $(function () {
        initControl();
        gridList();
     
      
    });
    function initControl() {
        $("#OrganizeSelect").bindSelect({
            url: "/SystemManage/Organize/GetListData",
            id: "F_EnCode",
            text: "F_FullName"
        });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/MedicalExpenseReport/GetGridJson",
            height: $(window).height() - 96,
            postData:
            {
                StartTime: $("#startTime").val(),
                EndTime: $("#endTime").val(),
                PatientName: $("#txt_PatientName").val(),
                IdCardNo: $("#txt_IdCardNo").val(),
                OrganizationName: "",
                OrganizationCode: $("#OrganizeSelect").val()
    },
            colModel: [
                { label: "主键", name: "PatientId", hidden: true, key: true },
                { label: '患者姓名', name: 'PatientName', width: 80, align: 'left' },
                { label: '家庭住址', name: 'ContactAddress', width: 120, align: 'left' },
                { label: '身份证号', name: 'IdCardNo', width: 120, align: 'left' },
                {
                    label: '就诊日期',
                    name: 'VisitDate',
                    width: 120,
                    align: 'left',
                    formatter: "date",
                    formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                { label: '就诊机构', name: 'OrganizationName', width: 200, align: 'left' },
                { label: '诊断', name: 'DiagnosticJson', width: 150, align: 'left' },
                { label: '门诊费用', name: 'MedicalTreatmentTotalCost', width: 80, align: 'left' },
                { label: '门诊报销', name: 'ReimbursementExpensesAmount', width: 80, align: 'left' },
                { label: '历年结转', name: 'CarryOver', width: 80, align: 'left' },
                {
                    label: '报销日期',
                    name: 'SettlementTime',
                    width: 120,
                    align: 'left',
                    formatter: "date",
                    formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                { label: '联系电话', name: 'ContactPhone', width: 100, align: 'left' },
                { label: '经办人', name: 'Operator', width: 80, align: 'left' },
                { label: '标记', name: 'Sign', width: 40, align: 'left' },
                { label: '参保地', name: 'CommunityName', width: 150, align: 'left' }
                //{
                //    label: "有效",
                //    name: "IsRevoke",
                //    width: 60,
                //    align: "center",
                //    formatter: function(cellvalue) {
                //        return cellvalue === false
                //            ? "<i class=\"fa fa-toggle-on\"></i>"
                //            : "<i class=\"fa fa-toggle-off\"></i>";
                //    }
                //}
            ],
            pager: "#gridPager",
           
            viewrecords: true
        });
        $("#btn_search").click(function () {
          
            $gridList.jqGrid('setGridParam',
                {
                    postData:
                    {
                        StartTime: $("#startTime").val(),
                        EndTime: $("#endTime").val(),
                        PatientName: $("#txt_PatientName").val(),
                        IdCardNo: $("#txt_IdCardNo").val(),
                    
                        OrganizationCode: $("#OrganizeSelect").val()
                    }
                }).trigger('reloadGrid');

        });
        $("#btn_MedicalExpenseReport").click(function () {
            var url = "/api/BenDing/MedicalExpenseReport?";
            url += "UserId=" + $("#UserId").val();
            url += "&StartTime=" + $("#startTime").val();
            url += "&EndTime=" + $("#endTime").val();
            url += "&PatientName=" + $("#txt_PatientName").val();
            url += "&IdCardNo=" + $("#txt_IdCardNo").val();
            url += "&OrganizationCode=" + $("#OrganizeSelect").val();
            window.location.href = url; 
        });
    }

    function btn_details() {
      
        var keyValue = $("#gridList").jqGridRowValue().PatientId;
        $.modalOpen({
            id: "DetailInfo",
            title: "费用明细",
            url: "/SystemManage/MedicalExpenseReport/DetailInfo?patientId=" + keyValue,
            width: "800px",
            height: "500px",
            btn: null
        });
    }
   

</script>
<div class="topPanel">
    <div class="toolbar" style="float: left">
      
        <div class="btn-group" style="margin-left: 20px; width: 150px;height: 32px;">
                <select id="OrganizeSelect" class="form-control"  style="padding: 0px;height: 32px;">
                </select>
            </div>
        <div class="btn-group" style="margin-left: 10px;">
            <span>姓名:</span>
        </div>
        <div class="btn-group" style="height: 30px;">

            <input id="txt_PatientName" type="text" class="form-control" placeholder="病人姓名" style="width: 60px; height: 20px">
        </div>
        <div class="btn-group" style="margin-left: 10px;">
            <span>身份证号:</span>
        </div>
        <div class="btn-group" style="height: 30px;">

            <input id="txt_IdCardNo" type="text" class="form-control" placeholder="身份证号" style="width: 120px; height: 20px">
        </div>
        @*<div class="btn-group" style="margin-left: 10px;">
            <span>机构名称:</span>
        </div>
        <div class="btn-group" style="height: 30px;">
            <input id="txt_OrganizationName" type="text" class="form-control" placeholder="机构名称" style="width: 100px; height: 20px">
        </div>*@
        <div class="btn-group" style="margin-left: 5px;">
            开始日期：
            <input type="text" class="Wdate" name="SettlementStartTime" id="startTime"
                   onClick="WdatePicker({ autoPickDate: true, dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'startTime\')||\'new Date()\'}', readOnly: true });" style="width: 120px;"/>
            结束日期：
            <input type="text" class="Wdate" name="SettlementEndTime" id="endTime"
                   onClick="WdatePicker({ autoPickDate: true, dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'endTime\')}', maxDate: new Date(), readOnly: true });" style="width: 120px;"/>
        </div>
        <div class="btn-group" style="margin-left: 5px;">
            <a class="btn btn-primary" id="btn_search">查询</a>
        </div>
        <div class="btn-group" style="margin-left: 5px;">
            <a class="btn btn-primary" id="btn_MedicalExpenseReport">导出</a>
        </div>
        <div class="operate">
        <ul class="nav nav-pills">
            <li class="first">已选中<span>1</span>项</li>
            <li><a id="NF-Details" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看明细</a></li>
        </ul>
        <a href="javascript:;" class="close"></a>
    </div>
    <script>$('.toolbar').authorizeButton()</script>
    </div>
   
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
    <div >
        <input type="hidden" id="UserId" name="UserId" value="@ViewBag.empid" placeholder="用户ID" />
        <input type="hidden" id="OrganizationCode" name="UserId" value="@ViewBag.OrganizationCode" placeholder="组织机构" />
    </div>
</div>

