@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SystemManage/Organize/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_CategoryId").select2({ minimumResultsForSearch: -1 });
        $("#F_ParentId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson"
        });
        $("#F_OrganizationGrade").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "HospitalGrade" }
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">上级</th>
                    <td class="formValue">
                        <select id="F_ParentId" name="F_ParentId" class="form-control">
                            <option value="0">父节点</option>
                        </select>
                    </td>
                    <th class="formTitle">医院等级</th>
                    <td class="formValue">
                        <select id="F_OrganizationGrade" name="F_OrganizationGrade" class="form-control required">
                        </select>
                    </td>
                    @*<th class="formTitle">类型</th>
                    <td class="formValue">
                        <select id="F_CategoryId" name="F_Target" class="form-control">
                            <option value="">==请选择==</option>
                            <option value="Group">集团</option>
                            <option value="Company">公司</option>
                            <option value="Department">部门</option>
                            <option value="WorkGroup">小组</option>
                        </select>
                    </td>*@
                </tr>
                <tr>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="F_FullName" name="F_FullName" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">机构编号</th>
                    <td class="formValue">
                        <input id="F_EnCode" name="F_EnCode" type="text" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">医保账户</th>
                    <td class="formValue">
                        <input id="F_MedicalInsuranceAccount" name="F_MedicalInsuranceAccount" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">医保密码</th>
                    <td class="formValue">
                        <input id="F_MedicalInsurancePwd" name="F_MedicalInsurancePwd" type="text" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">医院行政区域</th>
                    <td class="formValue">
                        <input id="F_AdministrativeArea" name="F_AdministrativeArea" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">医院医保编码</th>
                    <td class="formValue">
                        <input id="F_MedicalInsuranceHandleNo" name="F_MedicalInsuranceHandleNo" type="text" class="form-control required" placeholder="医院医保编码"/>
                    </td>

                 
                </tr>
            
                <tr>
                    <th class="formTitle" style="height: 35px;">选项</th>
                    <td class="formValue" colspan="3" style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                        </div>
                    </td>
                </tr>
                <tr >
                    <th class="formTitle">有效时间</th>
                    <td class="formValue"  >
                        <input type="text" class="Wdate" name="F_EffectiveTime" id="F_EffectiveTime"
                               onClick="WdatePicker({ autoPickDate: true, dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'F_EffectiveTime\')||\'new Date()\'}', readOnly: true });" style="width: 220px;height: 35px"/>
                        @*<input id="F_EffectiveTime" name="F_EffectiveTime" type="text" class="form-control"/>*@
                    </td>
                </tr>
                <tr >
                    <th class="formTitle" style="height: 35px;">选项</th>
                    <td class="formValue" colspan="3"  style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_Outpatient" name="F_Outpatient" type="checkbox" checked="checked"><label for="F_Outpatient">门诊</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_Hospital" name="F_Hospital" type="checkbox" checked="checked"><label for="F_Hospital">住院</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_BirthHospital" name="F_BirthHospital" type="checkbox" checked="checked"><label for="F_BirthHospital">生育</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_AnotherPlace" name="F_AnotherPlace" type="checkbox" checked="checked"><label for="F_AnotherPlace">异地</label>
                        </div>
                    </td>
               
                </tr>
                @*<tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Descriptions" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>*@
                <tr>
                    <th class="formTitle">创建人员</th>
                    <td class="formValue">
                        <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">创建时间</th>
                    <td class="formValue">
                        <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">修改人员</th>
                    <td class="formValue">
                        <input id="F_LastModifyUserId" name="F_LastModifyUserId" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">修改时间</th>
                    <td class="formValue">
                        <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
