<!DOCTYPE html>

<html>
<head>
    <meta charset="GBK">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/html5shiv/placeholders.min.js"></script>
    <link href="~/Content/css/card.css" rel="stylesheet" />
    <!–[if lt IE 9]>
    <script src="~/Content/js/html5shiv/html5shiv.min.js"></script><![endif]–>
    <!–[if lt IE 9]>
    <script src="~/Content/js/html5shiv/html5shiv-printshiv.min.js"></script><![endif]–>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
